@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.preview-img {
  transform: scale(0.8);
}

.img-div {
  width: 800px;
  height: 450px;
  padding: 0px 20px 0px 20px;
  background-origin: content-box;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
