@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.project-card {
  @include project-card;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 15px 30px 20px 30px;
  font-family: "Inter";
  font-style: normal;
}

.content > mat-card {
  margin-bottom: 16px;
}

.green-color {
  background-color: #00c853;
}
.mat-progress-bar-fill::after {
  background-color: #006d2d;
}

.progressbar {
  background-color: #006d2d !important;
}

.icon-div {
  width: 130px;
  height: 184px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(176, 221, 176, 0.199);
}

.title-div {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  row-gap: 10px;
  cursor: pointer;
}

.proj-name {
  font-family: "Inter";
  font-style: normal;
  font-size: 20px;
  line-height: 18px;
  margin-top: -120px !important;
  color: #3d3d3d;
  position: absolute;
  font-weight: 600;
}

.time-icon {
  vertical-align: middle;
  font-weight: 500;
  height: 16.03px;
  width: 16.03px;
  margin-right: 9.44px;
  line-height: 17px;
  /* identical to box height */

  color: #006d2d;
}

.list-view-time-icon {
  vertical-align: middle;
  font-weight: 500;
  line-height: 17px;
  height: 16.03px;
  width: 16.03px;
  margin-right: 7px;
  /* identical to box height */

  color: #006d2d;
}

.projects-div {
  margin-top: 35px;
}

.timestamp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #006d2d;
}

.btn-icon {
  transform: scale(0.75);
}

.project-thumb {
  font-family: "Inter";
  font-size: x-large;
  font-weight: 400;
}

.project-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 184px;
}

.mat-card {
  padding: 0 !important;
  margin: 0px 10px 30px 10px !important;
}

.menu-icon-div {
  min-width: 20px;
  padding-right: 5px;
  padding-top: 10px;
  color: #5b5b5b;
}

.menu-icon {
  cursor: pointer;
}

.project-card-div {
  cursor: pointer;
}

.menu-btn {
  font-size: smaller;
  font-family: "Inter" !important;
  mat-icon {
    transform: scale(0.8);
  }
}

.btn-view-option {
  margin-right: 5px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;

  mat-icon {
    transform: scale(0.8);
  }
}

.projects-header-container {
  display: flex;
  flex-direction: row;
}

.button-container {
  margin-right: 0px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.btn-sort {
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;

  mat-icon {
    transform: scale(1.6);
  }
}

.btn-list-active {
  color: #006d2d;
}

.list-item-div {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #dadada;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.list-icon-div {
  width: 140px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(176, 221, 176, 0.199);
}

.list-item-content {
  width: 100%;
  height: 100px;
  padding-left: 50px;
  padding-right: 10px;

  .menu-icon {
    color: #5b5b5b;
    transform: rotate(90deg);
  }
}

.list-view-menu {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cursor {
  cursor: pointer;
}

.mouse-lock {
  pointer-events: none;
  cursor: not-allowed;
  cursor: -moz-not-allowed;
  cursor: -webkit-not-allowed;
}

.loading-div {
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  mat-icon {
    transform: scale(4);
  }
}
.search-input-group {
  width: 216px;
}
.search-input-group input[type="text"] {
  font-family: "Inter";
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 10px 0px 0px 10px;
  float: left;
  width: 80%;
  height: 36px;
  background: #ffffff;
  border-right: none;
}

.search-input-group input[type="text"]:focus {
  outline: none;
}

.search-input-group mat-icon {
  box-sizing: border-box;

  width: 20%;
  padding: 7px 5px 10px 10px;
  font-size: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 0px 10px 10px 0px;
  background: #ffffff;
  height: 36px;
  border-left: none;
  color: #868686;
}

.projects-left-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
  margin-top: 10px;
}

.btn-new {
  width: 22px;
  height: 22px;
  background: #006d2d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));

  mat-icon {
    color: #fff;
    margin-top: -2px;
    margin-left: -0.5px;
    transform: scale(0.8);
  }
}

.proj-description {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #656565;
  display: block;
  word-break: break-all;
  //margin: 0px 10px 0px 10px;
  line-height: 22px;
}

.proj-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  display: block;
  word-wrap: break-word;
  color: #3d3d3d;
}

.no-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
  height: calc(100vh - 250px);
}

.no-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 45px;
  height: calc(100vh - 250px);
}

#no-project-img {
  width: 316.46px;
  height: 284.02px;
}

.btn {
  @include btn-primary;
  width: 274px;
  height: 45px;
  border-radius: 5px;
}

#no-results-img {
  width: 229px;
  height: 227px;
}

.search-msg-1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #313131;
}

.search-msg-2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #9b9b9b;
}

.search-msg-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
}

.timestamp-div {
  position: absolute;
  margin-bottom: -130px !important;
}
