@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.project-card {
  @include project-card;
}
mat-toolbar {
  justify-content: space-between;
}

.content {
  padding: 20px;
}

.content > mat-card {
  margin-bottom: 16px;
}

.column-label {
  font-weight: 200;
  font-size: smaller;
  margin-right: 8px;
}

.green-button {
  font-weight: 200;
  font-size: smaller;
  border-radius: 35;
  background-color: $green;
  margin-left: 10px;
}

.mainView {
  margin-top: 100px;
}

.customIcon {
  font-size: 40px;
  height: 40px;
  width: 40px;
  color: $green;
}

.green-color {
  background-color: #00c853;
}
.mat-progress-bar-fill::after {
  background-color: $green;
}

.progressbar {
  background-color: $green !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.delete-button {
  font-weight: 200;
  font-size: smaller;
  border-radius: 35;
  background-color: #e7e7e9;
  color: #0d0c22;
}

.content-div {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.icon-div {
  width: 140px;
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(176, 221, 176, 0.199);
}

.title-div {
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 30px;
  row-gap: 10px;
  cursor: pointer;
}

.proj-name {
  font-weight: 600;
  font-size: medium;
  color: #212121;
}

.time-icon {
  font-size: 16px;
  vertical-align: middle;
  color: #9e9e9e;
}

.projects-div {
  margin-top: 10px;
}

.timestamp {
  font-weight: 200;
  font-size: small;
  color: #9e9e9e;
}

.btn-icon {
  transform: scale(0.75);
}

.project-thumb {
  font-size: x-large;
  font-weight: 400;
}

.project-card-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.mat-card {
  padding: 0 !important;
}

.menu-icon-div {
  min-width: 20px;
  padding-right: 5px;
  padding-top: 10px;
  color: #5b5b5b;
}

.menu-icon {
  cursor: pointer;
}

.project-card-div {
  cursor: pointer;
}

.menu-btn {
  font-size: smaller;

  mat-icon {
    transform: scale(0.8);
  }
}

.btn-view-option {
  margin-right: 5px;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;

  mat-icon {
    transform: scale(0.8);
  }
}

.projects-header-container {
  display: flex;
  flex-direction: row;
}

.button-container {
  margin-right: 20px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.btn-sort {
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;

  mat-icon {
    transform: scale(0.8);
  }
}

.search-bar-div {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 25px;
  background-color: #ffffff;
  input {
    padding: 2px;
    border-radius: 5px;
  }
}

.btn-list-active {
  color: $green;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em;
}
