<mat-toolbar class="header" fxFlex="row" fxLayoutAlign="space-between center">
  <div
    fxFlex.lg="80"
    fxFlex.md="80"
    fxFlex.sm="70"
    fxFlex.xs="90"
    fxLayoutAlign="start center"
  >
    <mat-icon
      fxHide.sm="false"
      fxHide.md="false"
      fxHide.lg="false"
      fxHide.xl="false"
      fxHide.xs="false"
      class="menu"
      (click)="toggleSideBar()"
      *ngIf="!isProjectsView()"
      style="padding-right: 5px"
      >menu</mat-icon
    >
    <span style="display: flex; align-items: center; justify-content: center">
      <button
        (click)="goToProjects()"
        mat-icon-button
        [disabled]="isProjectsView()"
      >
        <img
          src="../../../../assets/images/tracified-header.png"
          style="flex-basis: 40%"
          width="130px"
        />
      </button>
      <span style="padding: 43px"></span>
      <label>
        <span
          id="title"
          style="font-size: 20px; padding-left: 10px; font-weight: 200"
        >
          | NFT Composer</span
        >
      </label>
    </span>
  </div>
  <div class="user-det"
    fxFlex.lg="20"
    fxFlex.md="20"
    fxFlex.sm="30"
    fxFlex.xs="10"
    fxLayoutAlign="end center"
  >
    <div
      fxFlex="80"
      fxHide.xs="true"
      fxHide.md="false"
      fxHide.sm="false"
      fxHide.lg="false"
      fxHide.xl="false"
      fxFlex="20"
      fxLayoutAlign="end center"
    >
      <label id="userName" *ngIf="user!==undefined">{{ user.Company }}</label>
    </div>
    <div fxFlex="20" fxLayoutAlign="start center">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <img
          src="../../../../assets/images/default-user.png"
          width="30px"
          height="30px"
          class="rounded-circle"
        />
      </button>
      <mat-menu #menu="matMenu" xPosition="before">
        <label
          style="color: #00c853"
          class="account-username"
          mat-menu-item
          id="userName"
          *ngIf="user!==undefined"
          >{{ user.UserName }}</label
        >
        <button style="color: #00c853" mat-menu-item>
          <mat-icon class="menu-icon">help</mat-icon>
          <span class="menu-item">Help</span>
        </button>
        <button style="color: #00c853" mat-menu-item>
          <mat-icon class="menu-icon">lightbulb_circle</mat-icon>
          <span class="menu-item">FAQ</span>
        </button>
        <button style="color: red" mat-menu-item (click)="logout()">
          <mat-icon class="menu-icon">logout</mat-icon>
          <span class="menu-item">Log Out</span>
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>
