@import "../../../../scss/variables";

.header {
  position: absolute;
  height: $headerHeight;
  top: 0;
  left: 0;
  right: 0;
  background-color: $background;
  color: white;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: x-large;
}

#title {
  color: $primary;
}

.icon {
  float: right;
  margin-right: 20px;
}

logo {
  margin: 2px 0px 0px 15px;
  height: 30px;
  width: 140px;
}

.menu-item {
  font-size: $fontSize;
}

.menu-icon {
  transform: scale(0.8);
}
