@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.widget-div {
  @include widget-div;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-div {
  //border: dotted 2px #ccc;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  top: 50px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  //background-color: #ccc;
}

.chrt {
  margin: 10px;
  transform: scale(0.4);
}

.btn {
  @include btn-primary;
  transform: scale(0.9);
}

mat-icon {
  color: $green;
}
.btn mat-icon {
  color: white;
}

.widget-footer {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  top: 255px;
  justify-content: flex-end;
}

h2 mat-icon {
  color: black;
  float: right;
  cursor: pointer;
}

h2 button {
  float: right;
  vertical-align: middle;
}

.proofbot-content {
  overflow: auto;
  width: 100%;
}

.proof-chip {
  cursor: pointer;
}

.pb-icon {
  transform: scale(4);
  color: $background;
}

.proof-card {
  display: flex;
  flex-direction: column;
  background: #f5f5f5 !important;
  margin: 10px;
  width: 650px;
  padding: 10px;
  overflow: hidden;
}

.proof-card label {
  font-size: small;
  margin-bottom: 5px;
}

.url-list {
  display: flex;
  flex-direction: row wrap;
}

.add-data-btn {
  color: #006D2D;
  font-family: 'Inter' !important;
  mat-icon {
    color: #006D2D;
    transform: scale(0.7);
  }
}

.customize-btn {
  color: #969696;
  font-family: 'Inter' !important;
  mat-icon {
    color: #969696;
    transform: scale(0.7);
  }
}

.delete-btn {
  cursor: pointer;
  color: #c62929;
  border-radius: 50%;
}

.widget-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 2px;
  padding: 2px;
  color: #383838;
  cursor: pointer;
}

.widget-title:hover {
  background-color: #ccc;
}

.input-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #ccc;
}

.proofbot-data-field {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #021d27;
}

.available-proofs-div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.proof-chip {
  background: #006D2D;
  border-radius: 7.17703px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  display: flex;

  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 21.1px;
  padding: 2px 5px 2px 10px;

  mat-icon {
    transform: scale(0.55);
    border-radius: 50%;
    color: #ffffff;
  }
}
