@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.widget-div {
  @include widget-div;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-div {
  //border: dotted 2px #ccc;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  top: 50px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  overflow: hidden;
  //background-color: #ccc;
}

.pb-img-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 50px;
  top: 50px;
  right: 10px;
  left: 10px;
}

.chrt {
  margin: 10px;
  transform: scale(0.4);
}

.btn {
  @include btn-primary;
  transform: scale(0.9);
}

mat-icon {
  color: $green;
}
.btn mat-icon {
  color: white;
}

.widget-footer {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  top: 255px;
  justify-content: flex-end;
}

h2 mat-icon {
  color: black;
  float: right;
  cursor: pointer;
}

h2 button {
  float: right;
  vertical-align: middle;
}

.proofbot-content {
  overflow: auto;
  width: 100%;
  height: 200px;
}

.proof-chip {
  cursor: pointer;
}

.pb-icon {
  transform: scale(4);
  color: $background;
}

.proof-card {
  display: flex;
  flex-direction: column;
  background: #f5f5f5 !important;
  margin: 10px;
  width: 650px;
  padding: 10px;
  overflow: hidden;
}

.proof-card label {
  font-size: small;
  margin-bottom: 5px;
}

.url-list {
  display: flex;
  flex-direction: row wrap;
}

.add-data-btn {
  color: #006d2d;
  font-family: "Inter" !important;
  mat-icon {
    color: #006d2d;
    transform: scale(0.7);
  }
}

.customize-btn {
  color: #969696;
  font-family: "Inter" !important;
  mat-icon {
    color: #969696;
    transform: scale(0.7);
  }
}

.delete-btn {
  cursor: pointer;
  color: #c62929;
  border-radius: 50%;
}

.widget-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border-radius: 2px;
  padding: 2px;
  color: #383838;
}

.edit-icon {
  color: #8b8b8b;
  cursor: pointer;
  vertical-align: middle;
}

.input-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  border: 1px solid #ccc;
}

.proofbot-data-field {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #021d27;
}

.available-proofs-div {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

.proof-chip {
  background: #006d2d;
  border-radius: 7.17703px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  display: flex;

  justify-content: center;
  align-items: center;
  width: fit-content;
  height: 21.1px;
  padding: 2px 5px 2px 10px;

  mat-icon {
    transform: scale(0.55);
    border-radius: 50%;
    color: #ffffff;
  }
}

.input-edit-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 2px;
  border: 0.5px solid #a09c9c;
  width: 239px;
  height: 22px;
  padding: 5px;
}

.input-edit-title input[type="text"] {
  border: none;
  box-sizing: border-box;
  width: 80%;
  height: 32px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #383838;
}

.input-edit-title input[type="text"]:focus {
  outline: none;
}

.input-edit-title input[type="text"]::placeholder {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #b9b9b9;
}

.input-edit-title mat-icon {
  box-sizing: border-box;
  width: 10%;
  transform: scale(0.8);
  color: #d9d9d9;
  background-color: #939393 !important;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

.save {
  box-sizing: border-box;
  width: 10%;
  transform: scale(0.8);
  cursor: pointer;
}

.cancel {
  box-sizing: border-box;
  width: 10%;
  transform: scale(0.8);
  cursor: pointer;
  background: #d9d9d9;
  border-radius: 100%;
}

.input-edit-title:focus-within {
  border: 0.5px solid #3a3a3a;
}

.menu-icon {
  color: #5b5b5b;
  cursor: pointer;
  border-radius: 50%;
}

.menu-text {
  margin: -50px 0px -50px 0px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 208.02%;
  /* or 23px */
  color: #525252;
}

.title-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10px;
}
