@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.widget-div {
  @include widget-div;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-div {
  //border: dotted 2px #ccc;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  top: 50px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  overflow: hidden;
  //background-color: #ccc;
}

.chrt {
  margin: 10px;
  transform: scale(0.4);
}

.btn {
  @include btn-primary;
  transform: scale(0.9);
}

mat-icon {
  color: $green;
}
.btn mat-icon {
  color: white;
}

.widget-footer {
  position: absolute;
  right: 7px;
  left: 0;
  bottom: 0;
  top: 255px;
}

h2 mat-icon {
  color: black;
  float: right;
  cursor: pointer;
}

h2 button {
  float: right;
  vertical-align: middle;
}

.proofbot-content {
  overflow: auto;
  width: 100%;
}

.proof-url {
  text-decoration: none;
  font-size: small;
  cursor: pointer;
  color: $green;
  background-color: whitesmoke;
  border-radius: 25px;
  padding: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.proof-url:hover {
  border: $green solid 1px;
}

.pb-icon {
  transform: scale(4);
  color: $background;
}

.proof-card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: rgba(176, 221, 176, 0.137) !important;
  margin: 10px;
  width: max-content;
  padding: 10px;
  overflow: hidden;
}

.proof-card label {
  font-size: small;
  margin-bottom: 5px;
}

.url-list {
  display: flex;
  flex-direction: row wrap;
}
