<div class="widget-div" f>
  <div>
    <h2>
      Proofbot
      <button mat-icon-button (click)="deleteWidget()">
        <mat-icon>clear</mat-icon>
      </button>
    </h2>
  </div>
  <div class="content-div">
    <mat-icon class="pb-icon" *ngIf="!otpAdded"> ondemand_video </mat-icon>
    <div class="proofbot-content" *ngIf="otpAdded">
      <div class="proof-card" *ngFor="let data of proofbot.Data!">
        <label>Transaction Id - {{ data.TxnHash }}</label>
        <label>Product Name - {{ proofbot.ProductName }}</label>
        <label>Batch - {{ data.BatchId }}</label>
        <label>Proofs - </label>
        <div class="url-list">
          <div *ngFor="let url of data.Urls">
            <a class="proof-url" [href]="url.Url" target="_blank">{{
              url.Type.toUpperCase()
            }}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-footer">
    <button mat-button class="btn" style="float: right" (click)="openAddData()">
      <mat-icon>add_circle</mat-icon>
      Add Data
    </button>
    <button
      mat-button
      *ngIf="otpAdded"
      class="btn"
      style="float: right"
      (click)="openProofBotView()"
    >
      <mat-icon>visibility</mat-icon>
      View
    </button>
  </div>
</div>
