@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.btn {
  @include btn-primary;
}

.btn-dont-save {
  font-family: "Inter" !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.btn:disabled {
  color: #ccc !important;
  background-color: whitesmoke !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #006d2d;
  animation: spinner 0.8s linear infinite;
}

h2 {
  font-family: "Inter" !important;
}

.save-icon {
  margin-right: 5px;
}
