<mat-dialog-content class="mat-typography modal-content" fxLayout="row">
  <mat-tab-group (selectedTabChange)="tabChanged($event)" fxFlex="100%">
    <mat-tab label="Query">
      <mat-grid-list cols="5" rowHeight="550px">
        <mat-grid-tile colspan="5" style="overflow: auto">
          <app-ldaleditor
            [id]="barChart.WidgetId"
            (onQuerySuccess)="onQuerySuccess($event)"
          ></app-ldaleditor
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Chart Configuration" *ngIf="CheckQuerySavingStatus()">
      <mat-grid-list cols="5" rowHeight="550px">
        <!--Column that displays the bar chart-->
        <mat-grid-tile colspan="3">
          <!--Bar chart-->
          <div class="chart">
            <figure id="bar"></figure>
          </div>
        </mat-grid-tile>

        <!--Column that displays the configuration panel-->
        <mat-grid-tile colspan="2" class="form-tile">
          <div class="form-div">
            <h2><mat-icon class="title-icon">tune</mat-icon>Configure Chart</h2>
            <div class="domain">
              <!--input field for setting x axis name-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>X Axis Name</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="xName"
                  (ngModelChange)="updateChart()"
                />
              </mat-form-field>

              <!--input field for setting y axis name-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Y Axis Name</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="yName"
                  (ngModelChange)="updateChart()"
                />
              </mat-form-field>
            </div>

            <div class="domain">
              <mat-form-field appearance="fill">
                <mat-label>Font size</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Ex. 12"
                  [(ngModel)]="fontSize"
                  (ngModelChange)="updateChart()"
                />
                <span matSuffix>px</span>
              </mat-form-field>
              <div
                class="colorbox"
                [(colorPicker)]="fontColor"
                [style.background]="fontColor"
                (colorPickerChange)="updateChart()"
              ></div>
            </div>

            <!--Values displayed in the bar chart-->
            <div class="bar-chart-fields">
              <h3>Bar Chart Fields</h3>
              <div class="field" *ngFor="let field of barChartData; index as i">
                <mat-card>
                  <label>{{ field.Name }}</label>
                  <div
                    class="colorbox"
                    [(colorPicker)]="barColors[i]"
                    [style.background]="barColors[i]"
                    (colorPickerChange)="updateChart()"
                  ></div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-button
    [mat-dialog-close]="false"
    class="btn"
    [disabled]="saving"
    cdkFocusInitial
    (click)="updateReduxState()"
  >
    <mat-icon>save</mat-icon>
    <span [class.spinner]="saving"> </span>
    Save
  </button>
</mat-dialog-actions>
