@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.btn {
  @include btn-primary;
}

.input-description {
  resize: none;
  font-family: "Inter" !important;
}

/* ::ng-deep .mat-focused .mat-form-field-label {

  color: unset !important;
} */

h2,
mat-label,
input,
mat-error,
strong {
  font-family: "Inter" !important;
}

.modal-content {
  width: calc(100vw / 2);
  max-width: 500px;
}
