<mat-dialog-content class="mat-typography modal-content" fxLayout="row">
  <mat-tab-group (selectedTabChange)="tabChanged($event)" fxFlex="100%">
    <mat-tab label="Query">
      <mat-grid-list cols="5" rowHeight="550px">
        <!--Column that displays the bar chart-->
        <mat-grid-tile colspan="5" style="overflow: auto">
          <app-ldaleditor
            [id]="table.WidgetId"
            (onQuerySuccess)="addQuery($event)"
          ></app-ldaleditor
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Table Configuration">
      <mat-grid-list cols="5" rowHeight="550px">
        <!--Column that displays the bar chart-->
        <mat-grid-tile colspan="3" style="overflow: auto">
          <!--Bar chart-->
          <div class="chart" [innerHTML]="tableHtml"></div>
        </mat-grid-tile>

        <!--Column that displays the configuration panel-->
        <mat-grid-tile colspan="2" class="form-tile">
          <div class="form-div">
            <h2><mat-icon class="title-icon" *ngIf="CheckQuerySavingStatus()">tune</mat-icon>Configure Table</h2>
            <div class="input-group">
              <!--input field for setting x axis name-->
              <mat-form-field appearance="fill" color="primary">
                <mat-label>Title</mat-label>
                <input matInput type="text" [(ngModel)]="title" />
              </mat-form-field>
            </div>
          </div>
        </mat-grid-tile> </mat-grid-list
    ></mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-button
    [disabled]="saving"
    class="btn"
    (click)="updateReduxState()"
    cdkFocusInitial
  >
    <mat-icon>save</mat-icon>
    <span [class.spinner]="saving"> </span>
    Save
  </button>
</mat-dialog-actions>
