<div class="widget-div">
  <h2>
    NFT Image
    <button mat-icon-button (click)="deleteWidget()">
      <mat-icon>clear</mat-icon>
    </button>
  </h2>
  <div id="drop-area" *ngIf="!isUploaded()">
    Upload or select file
    <mat-icon class="material-icons-outlined icon">cloud_upload</mat-icon>
    <input
      type="file"
      accept="image/*"
      #fileUpload
      (change)="onChange($event)"
      hidden
    />
    <button mat-flat-button class="btn" (click)="triggerClick()">
      Browse Files
    </button>
  </div>
  <div id="image" *ngIf="isUploaded()">
    <img [src]="img" class="img" />
  </div>
</div>
