<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="image.WidgetId"
>
  <h2
    style="font-size: medium; font-weight: 200"
    [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
  >
    Image
    <button
      mat-icon-button
      class="delete-btn"
      matTooltip="Delete"
      (click)="deleteWidget()"
    >
      <mat-icon>clear</mat-icon>
    </button>
  </h2>
  <div id="drop-area" *ngIf="!isUploaded()">
    Upload or select file
    <mat-icon class="material-icons-outlined icon">cloud_upload</mat-icon>
    <input
      type="file"
      accept="image/*"
      #fileUpload
      (change)="onChange($event)"
      hidden
    />
    <button
      mat-flat-button
      class="btn"
      style="font-size: small; font-weight: 200"
      (click)="triggerClick()"
    >
      Browse Files
    </button>
  </div>
  <div id="image" *ngIf="isUploaded()">
    <img [src]="base64" class="img" />
  </div>
  <div class="widget-footer" fxLayout="row wrap">
    <input
      type="file"
      accept="image/*"
      #fileUpload
      (change)="onUpdateChange($event)"
      hidden
    />
    <button
      mat-flat-button
      class="update-btn"
      (click)="triggerClick()"
      *ngIf="isUploaded()"
    >
      <mat-icon class="update-icon">edit</mat-icon> Change Image
    </button>
  </div>
</div>
