<div class="widget-div">
  <h2 style="font-size: medium; font-weight: 200;">
    Image
    <button mat-icon-button (click)="deleteWidget()">
      <mat-icon>clear</mat-icon>
    </button>
  </h2>
  <div id="drop-area" *ngIf="!isUploaded()">
    Upload or select file
    <mat-icon class="material-icons-outlined icon">cloud_upload</mat-icon>
    <input
      type="file"
      accept="image/*"
      #fileUpload
      (change)="onChange($event)"
      hidden
    />
    <button mat-flat-button class="btn" style="font-size: small; font-weight: 200;" (click)="triggerClick()">
      Browse Files
    </button>
  </div>
  <div id="image" *ngIf="isUploaded()">
    <img [src]="base64" class="img" />
  </div>
  <div class = "widget-footer">
     <input
      type="file"
      accept="image/*"
      #fileUpload
      (change)="onUpdateChange($event)"
      hidden
    />
    <button mat-flat-button class="btn"   style="float: right; font-size: small; font-weight: 200;" (click)="triggerClick()" *ngIf="isUploaded()">
      <mat-icon class="update-icon">edit</mat-icon> Update
    </button>
  </div>
</div>
