@import "../../../../scss/mixins";
@import "../../../../scss/variables";
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-content-select {
    @include modal-content-select;
    height: 400px !important;
    width: 286px !important;
  }

  .modal-parent{
    padding-left: 22px !important;
    padding-left: 22px !important;
  }

  .mat-dialog-content{
    padding: 0px;
  }

  .previous{
    font-size: 14px;
  }

  .back-icon{
    transform: scale(0.5);
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 2px;
  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .mat-step-label{
    display: none !important;
  }

  .search-bar{
    float: left; 
    font-family: 'Inter';
    width: 232px;
    font-size: 10px !important;
  }

  .btn-cancel{
    font-size: 14px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 14px !important;
  }

  .arw-bck-icon{
    margin-left: -50px;
  }

  .second-search{
    width: 233px;
    font-size: 10px !important;
  }

  .date-picker-bar{
    width: 233px;
    margin-right: 0px; 
    font-size: 10px !important;
  }

  
  table.batch-table{
    td {
      font-family: 'Inter';
      padding-left: 5px;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size:6px;
      word-break: break-all;
    }  
  }

  .no-data-msg{
    text-align: center; 
    padding-top: 50px;
    font-size: 10px;
  }

  .mat-expansion-panel-header{
    padding: 0 9px !important;
    font-size: 6px !important;
  }

  .act-row{
    font-size: 0.3rem !important;
  }

  .data-text{
    margin-bottom: -20px !important;
  }

  .data-ul-list {
    list-style-type: none;
    position: relative;
    margin-top: 15px;
    margin-left: -6px;
    line-height: 32px;
    padding-inline-start: 28px;
    &:before {
      content: "";
      display: inline-block;
      width: 3px;
      background: $green;
      position: absolute;
      left: 15px;
      top: 9px;
      height: calc(100% - 10px);
      font-family: 'Inter' !important;
      font-size: 4px;
    }
  }
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modal-content-select {
    @include modal-content-select;
    height: 400px !important;
    width: 286px !important;
  }

  .modal-parent{
    padding-left: 22px !important;
    padding-left: 22px !important;
  }

  .mat-dialog-content{
    padding: 0px;
  }

  .previous{
    font-size: 14px;
  }

  .back-icon{
    transform: scale(0.5);
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 2px;
  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .mat-step-label{
    display: none !important;
  }

  .search-bar{
    float: left; 
    font-family: 'Inter';
    width: 232px;
    font-size: 10px;
  }

  .btn-cancel{
    font-size: 14px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 14px !important;
  }

  .arw-bck-icon{
    margin-left: -50px;
  }

  .second-search{
    width: 233px;
    font-size: 10px !important;
  }
  
  .date-picker-bar{
    width: 233px;
    margin-right: 0px; 
    font-size: 10px !important;
  }

  table.batch-table{
    td {
      font-family: 'Inter';
      padding-left: 5px;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size:6px;
      word-break: break-all;
    }   
  }

  .no-data-msg{
    text-align: center;
    padding-top: 50px;
    font-size: 10px;
  }

  .mat-expansion-panel-header{
    padding: 0 9px !important;
    font-size: 6px !important;
  }

  .act-row{
    font-size: 0.3rem !important;
  }

  .data-text{
    margin-bottom: -20px !important;
  }

  .data-ul-list {
    list-style-type: none;
    position: relative;
    margin-top: 15px;
    margin-left: -6px;
    line-height: 32px;
    &:before {
      content: "";
      display: inline-block;
      width: 3px;
      background: $green;
      position: absolute;
      left: 15px;
      top: 9px;
      height: calc(100% - 10px);
      font-family: 'Inter' !important;
      font-size: 4px;
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modal-content-select {
    @include modal-content-select;
    height: 400px !important;
    width: 600px !important;
  }

  .mat-dialog-content{
    padding: 0px;
  }

  .previous{
    font-size: 16px;
  }

  .back-icon{
    transform: scale(0.8);
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 3px;
  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 0px;
  }

  .mat-step-label{
    display: inline-block !important;
  }

  .search-bar{
    float: left; 
    font-family: 'Inter';
    width: 250px;
    font-size: 14px !important;
  }

  .btn-cancel{
    font-size: 16px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 16px !important;
  }

  .arw-bck-icon{
    margin-left: 0px;
  }

  .second-search{
    width: 220px;
    font-size: 14px !important;
  }

  .date-picker-bar{
    width: 220px;
    margin-right: 5px; 
    font-size: 14px !important;
  }

  table.batch-table{
    td {
      font-family: 'Inter';
      padding-left: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size: 0.8rem;
      word-break: break-all;
    }  
  }

  .no-data-msg{
    text-align: center;
    padding-top: 50px;
    font-size: large;
  }

  .mat-expansion-panel-header{
    padding: 0 24px !important;
    font-size: 10px !important;
  }

  .act-row{
    font-size: 14px !important;
  }

  .data-text{
    margin-bottom: 0px !important;
  }
  
  .data-ul-list {
    list-style-type: none;
    position: relative;
    margin-top: -2px;
    margin-left: -5px;
    &:before {
      content: "";
      display: inline-block;
      width: 3px;
      background: $green;
      position: absolute;
      left: 15px;
      top: 5px;
      height: calc(100% - 10px);
      font-family: 'Inter' !important;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-content-select {
    @include modal-content-select;
    height: 400px !important;
    width: 1100px !important;
  }

  .mat-dialog-content{
    padding: 24px;
  }

  .previous{
    font-size: 20px;
  }

  .back-icon{
    transform: scale(1);
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .mat-step-label{
    display: inline-block !important;
  }

  .search-bar{
    float: left; 
    font-family: 'Inter';
    width: 250px;
    font-size: 14px !important;
  }

  .btn-cancel{
    font-size: 1rem !important;
  }

  .btn {
    @include btn-primary;
    font-size: 1remx !important;
  }

  .arw-bck-icon{
    margin-left: 0px;
  }

  .second-search{
    width: 250px;
    font-size: 14px !important;
  }

  .date-picker-bar{
    width: 250px;
    margin-right: 5px; 
    font-size: 14px !important;
  }

  table.batch-table{
    td {
      font-family: 'Inter';
      padding-left: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size: 0.8rem;
      word-break: break-all;
    }  
  }

  .no-data-msg{
    text-align: center;
    padding-top: 50px;
    font-size: large;
  }

  .mat-expansion-panel-header{
    padding: 0 24px !important;
    font-size: 15px !important;
  }

  .act-row{
    font-size: 14px !important;
  }

  .data-text{
    margin-bottom: 0px !important;
  }

  .data-ul-list {
    list-style-type: none;
    position: relative;
    margin-top: -2px;
    margin-left: -5px;
    &:before {
      content: "";
      display: inline-block;
      width: 3px;
      background: $green;
      position: absolute;
      left: 15px;
      top: 5px;
      height: calc(100% - 10px);
      font-family: 'Inter' !important;
    }
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal-content-select {
    @include modal-content-select;
    height: 400px !important;
    width: 1100px !important;
  }

  .mat-dialog-content{
    padding: 24px;
  }

  .previous{
    font-size: 20px;
  }

  .back-icon{
    transform: scale(1);
  }

  .back-icon {
    vertical-align: middle;
    margin-right: 5px;
  }

  .mat-horizontal-stepper-header-container {
    justify-content: center;
    margin-left: 0px;
    margin-bottom: 10px;
  }

  .mat-step-label{
    display: inline-block !important;
  }

  .search-bar{
    float: left; 
    font-family: 'Inter';
    width: 250px;
    font-size: 14px !important;
  }

  .btn-cancel{
    font-size: 1rem !important;
  }

  .btn {
    @include btn-primary;
    font-size: 1remx !important;
  }

  .arw-bck-icon{
    margin-left: 0px;
  }

  .second-search{
    width: 250px;
    font-size: 14px !important;
  }

  .date-picker-bar{
    width: 250px;
    font-size: 14px !important;
    margin-right: 5px; 
  }

  table.batch-table{
    td {
      font-family: 'Inter';
      padding-left: 1rem;
      padding-top: 0.7rem;
      padding-bottom: 0.7rem;
      font-size: 0.8rem;
      word-break: break-all;
    }  
  }

  .no-data-msg{
    text-align: center;
    padding-top: 50px;
    font-size: large;
  }

  .mat-expansion-panel-header{
    padding: 0 24px !important;
    font-size: 15px !important;
  }

  .act-row{
    font-size: 14px !important;
  }

  .data-text{
    margin-bottom: 0px !important;
  }

  .data-ul-list {
    list-style-type: none;
    position: relative;
    margin-top: -2px;
    margin-left: -5px;
    &:before {
      content: "";
      display: inline-block;
      width: 3px;
      background: $green;
      position: absolute;
      left: 15px;
      top: 5px;
      height: calc(100% - 10px);
      font-family: 'Inter' !important;
    }
  }
}

.mat-action-row{
  padding: 10px !important;
}

.content {
  height: calc($modalHeight - 50px);
}

.option {
  height: 400px;
  width: 300px;
  background-color: whitesmoke;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

table.batch-table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px #e1e5ee;
  background-color: white;
  text-align: left;
  width: 100%;
  border-radius: 6px;
  table-layout: fixed;

  thead {
    box-shadow: 0 5px 10px #e1e5ee;
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  tbody {
    overflow-y: auto;
    overflow-x: hidden;
  }

  th {
    font-family: 'Inter';
    padding: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }

  // td {
  //   font-family: 'Inter';
  //   padding-left: 1rem;
  //   padding-top: 0.7rem;
  //   padding-bottom: 0.7rem;
  //   font-size: 0.8rem;
  // }

  tr {
    cursor: pointer;
  }

  tr:nth-child(even) {
    background-color: #f4f6fb;
  }
}

.batch-table tbody tr:hover {
  background: whitesmoke;
}

.data-row {
  background: whitesmoke;
}

#stepper {
  width: 100%;
}

mat-step {
  background-color: $green !important;
}

.stage {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.mat-step-header .mat-step-icon-selected {
  background-color: $background;
}

.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #006D2D;
  + .mat-step-label {
    color: #006D2D !important;
  }
}

.demo-row-is-clicked {
  font-weight: bold;
  background: whitesmoke !important;
}

.batchImg {
  width: 80px;
  height: 80px;
  margin: 5px;
}

.batch-img-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  overflow: hidden;
}

.option-title {
  background: green;
  width: 100%;
  height: 50px;
}

.previous {
  color: rgb(134, 134, 134);
  text-decoration: none;
  font-family: 'Inter' !important;
  font-weight: 300;
}

.previous:hover {
  color: #006D2D;
  text-decoration: none !important;
}

.breadcrumb a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.paginator {
  margin-top: 10px;
}

.progressbar {
  background-color:#006D2D!important;
}

.mat-progress-bar-fill::after {
  background-color: #006D2D;
}

.stage-index {
  background-color: $background;
  max-width: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: large;
}

.stage-stageName {
  background: $background;
  color: white;
  max-width: 100px;
}

.tdp-table {
  box-shadow: unset;
  border-collapse: separate;
  border-spacing: 0px 1px;
  font-family: 'Inter';
}

.tdp-table tr {
  @include shadow;
}

.tdp-table tr:hover {
  background: unset;
}

.tdp {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Inter';
}

.tdp-stage-div {
  row-gap: 10px;
  font-family: 'Inter';
}

.tdp-step {
  display: flex;
  flex-direction: column;
  font-family: 'Inter';
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 30%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 70%;
  border-left: none;
  height: 300px;
}

.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
  font-family: 'Inter';
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.exp-panel-head {
  background: $background;
  color: white;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #006D2D;
  animation: spinner 0.8s linear infinite;
}



.mat-stepper-horizontal-line {
  max-width: 10px !important;
}

// .mat-horizontal-stepper-header-container {
//   justify-content: center;
//   margin-bottom: 10px;
// }

.mat-input {
  transform: scale(0.8);
}

.btn:disabled {
  background-color: whitesmoke;
  color: #ccc !important;
}

.mat-step-header {
  pointer-events: none !important;
}

.data-text {
  display: flex;
  align-items: center;
  font-family: 'Inter';
}

.data-icon {
  transform: scale(0.6);
}

.data-artifact-icon {
  transform: scale(1);
}

.data-sub-icon {
  transform: scale(0.6) rotate(-90deg);
}

.tdp-added-date {
  margin-bottom: 5px;
  label {
    color: gray;
    font-weight: 600;
    font-family: 'Inter';
  }
}

.mat-step-text-label{
  font-family: 'Inter';
}

li{
  font-family: 'Inter' !important;
}

.selected-item{
  margin-top: 2px;
}