<table *ngIf="batchIsSelected === true" class="tdp-table">
  <h2>Stages</h2>

  <tbody>
    <tr>
      <td class="stage-index">1</td>
      <td class="stage-stageName">
        {{ stages[selectedBatch.stageId] }} - {{ selectedBatch.stageId }}
      </td>
      <td fxLayout="column">
        <div
          *ngFor="let tdp of selectedBatch.traceabilityDataPackets"
          class="tdp"
          fxFlex="100%"
          fxLayout="row wrap"
        >
          <label *ngFor="let data of tdp.traceabilityData" fxFlex="50%"
            ><strong>{{ CamelcaseToWord(data.key) }} - </strong> {{ data.val
            }}</label
          >
        </div>
      </td>
    </tr>
  </tbody>
</table>

<table *ngIf="batchIsSelected === true" class="tdp-table">
  <h2>Stages</h2>

  <tbody>
    <tr>
      <td style="background: whitesmoke">
        <div
          *ngFor="
            let stage of workflow[this.workflow.length - 1].stages;
            index as i
          "
          fxLayout="row"
        >
          <div style="background: green" fxFlex="10%">
            <label>{{ i + 1 }}</label>
          </div>
          <div fxFlex="90%">
            <label>{{ stage.stageId }}</label>
            <label>{{ stage.name }}</label>
          </div>
        </div>
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
