@import "../../../../scss/mixins";
@import "../../../../scss/variables";
.tl-view-div {
  position: relative;
}

.mat-dialog-content {
  padding-left: 24px;
  padding-right: 24px;
}

.timeline {
  $color: #00c853;
  $timeline-font-color: white;

  padding: 0 25px;
  margin: 20px 0 0 0;
  position: relative;
  counter-reset: list 0;

  /* &-item {
    list-style: none;
    border-left: 4px solid $color;
  } */

  &-title {
    margin: 0;
    padding: 0;
    &:before {
      $size: 40px;
      color: $timeline-font-color;
      position: relative;
      left: -22px;
      display: inline-block;
      width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
      border-radius: 50%;
      background-color: $color;
      font-family: "Inter" !important;
    }
  }

  &-text {
    margin: 0 0 0 1.5rem;
  }
}

.chrt {
  margin: 10px;
  transform: scale(0.4);
}

.btn {
  @include btn-primary;
  transform: scale(0.9);
}

mat-icon {
  color: $green;
}
.btn mat-icon {
  color: white;
}

.widget-footer {
  position: absolute;
  right: 7px;
  left: 0;
  bottom: 0;
  top: 255px;
}

h2 mat-icon {
  color: black;
  float: right;
  cursor: pointer;
}

h2 button {
  float: right;
  vertical-align: middle;
}

.left-content {
  width: 35px;
  height: 100%;
}
.right-content {
  flex-grow: 1;
  height: 100%;
}

.vr-line {
  height: 100%;
  width: 2px;
  background-color: black;
}

.content .sub-content {
  flex-grow: 1;
}

.timeline-outer-div {
  display: block;
  padding: 0.5rem 0 1.5rem 0;
  position: relative;
  width: fit-content;
}

.timeline-card {
  display: block;
  padding: 0.5rem 0 1.5rem 0;
  position: relative;
  width: 95%;
  overflow: auto;
  margin-left: inherit;
}

.header {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 20px 0px;
  width: 100%;
}

.left {
  width: 16%;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.right {
  width: calc(100% - 16%);
}

.title {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
}

.body {
  width: calc(100% - 16%);
  margin-left: 7%;
  padding: 0px 0;
}

.secondary-font {
  font-family: "Inter" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #b1b1b1 !important;
  margin-block-end: 0em !important;
  word-break: break-all;
}

.primary-font {
  font-family: "Inter" !important;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #4f525d !important;
  word-break: break-all;
}

img {
  padding-right: 10px;
}

.content-div {
  overflow: auto;
  max-height: 55vh;
  width: 100%;
}

.timeline-content {
  width: fit-content;
}

.tdp-added-date {
  margin-bottom: 5px;
  padding-bottom: 5%;
  label {
    color: #006d2d;
    font-weight: 500;
    font-size: 17px;
    font-family: "Inter" !important;
  }
}

.tl-v-icon {
  width: 75%;
  height: 100%;
}

.inner-widge-div::before {
  content: " ";
  background: $green;
  display: inline-block;
  position: absolute;
  left: 23px;
  width: 4px;
  height: 100%;
  z-index: auto;
  margin-left: 0.5rem;
}

.card-border {
  box-shadow: unset !important;
  border: 1px solid #ccc;

  padding-top: 20px;
  padding-right: 20px;
}

.timeline-heading {
  display: flex;
  flex-direction: column;
  margin-left: 16%;
  margin-bottom: 50px;
}

.timeline-product {
  font-size: 17px;
  font-family: "Inter" !important;
}

.timeline-batch {
  font-size: 17px;
  font-family: "Inter" !important;
}

.no-data-msg {
  text-align: center;
  font-size: medium;
  padding-top: 1px;
  color: #4f525d;
  font-family: "Inter" !important;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Inter" !important;
}

h2 {
  font-family: "Inter" !important;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .timeline-product {
    font-size: 12px;
    font-family: "Inter" !important;
  }

  .timeline-batch {
    font-size: 12px;
    font-family: "Inter" !important;
  }

  .card-border {
    width: unset;
    box-shadow: unset !important;
    border: 1px solid #ccc;
  }

  .header {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
  }

  .left {
    width: 16%;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    margin-left: 1%;
  }

  .right {
    width: calc(100% - 16%);
  }

  .tl-v-icon {
    width: 35px;
    margin-left: 7px;
  }

  .inner-widge-div::before {
    content: " ";
    background: $green;
    display: inline-block;
    position: absolute;
    left: 4%;
    width: 4px;
    height: 100%;
    z-index: auto;
    margin-left: 2%;
  }

  .title {
    margin-top: 0.5rem !important;
    margin-bottom: 0.2rem !important;
    font-size: 12px !important;
    font-family: "Inter";
  }

  .timeline-heading {
    display: flex;
    flex-direction: column;
    margin-left: 16%;
    margin-bottom: 10px;
  }

  .tdp-added-date {
    margin-bottom: 5px;
    padding-bottom: 5%;
    label {
      color: #006d2d;
      font-weight: 500;
      font-size: 12px;
      font-family: "Inter" !important;
    }
  }

  .secondary-font {
    font-family: "Inter" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #b1b1b1 !important;
    margin-block-end: 0em !important;
    word-break: break-all;
  }

  .primary-font {
    font-family: "Inter" !important;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    color: #4f525d !important;
    word-break: break-all;
  }

  .timeline-wrapper {
    margin-left: -2%;
  }

  h2 {
    font-size: 14px;
  }
}
