@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.cont {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
  margin: 10px;
}

.sidebar-container {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0px;
  width: 100%;
  background-color: white;
}

.sidebar-items {
  background: $background;
  width: 100px;
  display: flex;
  flex-direction: row;
}

.widget-list {
  border: solid 1px $gray;
  min-height: 60px;
  border-radius: 5px;

  padding: 10px;
  margin: 30px;
  height: 600px;
  overflow-y: auto;
}

.widget-box {
  padding: 20px 10px;
  border-bottom: solid 1px $gray;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: $gray;
  font-size: 14px;
  margin: 5px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0.3;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.widget-box:last-child {
  border: none;
}

.widget-list.cdk-drop-list-dragging .widget-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.toggle-btn {
  position: absolute;
  margin-top: 300px;
  background-color: $background;
  color: white;
  padding: 5px 5px 0px 5px;
  width: 5px;
  height: fit-content;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  right: 0;
  cursor: pointer;
}

.btn {
  @include btn-primary;
  background-color: #006d2d !important;
  margin: 5px;
  height: 30px !important;
  font-family: "Inter";
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 15px !important;
}

.btn-container-composer{
  display: flex;
  flex-direction: row;
  position: absolute;
  justify-content: end;
  top: calc(100vh - 110px);
  right: 34px;
  margin-left: 5px;
  overflow-y: auto;
}



.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

mat-nav-list {
  height: calc(100vh - 50px);
  width: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 !important;
}

mat-list-item {
  width: 100% !important;
}

.sidebar-grid {
  display: grid;
  grid-template-columns: auto auto;
}

.add-btn {
  @include btn-primary;
  float: right;
}

.nft-content-area {
  position: absolute;
  top: 10px;
  right: 40px;
  left: 10px;
  bottom: 60px;
  background-color: $gray;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.nft-content-area-mobile {
  position: absolute;
  top: 56px;
  right: 40px;
  left: 10px;
  bottom: 60px;
  background-color: $gray;
  padding: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.download-icon {
  width: 24px;
  height: 10px;
  margin-right: 5px;
}

.icon {
  @include icon;
}

.side-nav {
  width: 250px;
}

.collapse-widgets {
  position: fixed;
}

.snackbar {
  background: white;
  color: black;
  .mat-simple-snackbar-action {
    color: $green !important;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #006d2d;
  animation: spinner 0.8s linear infinite;
}

.loading-div {
  background: rgba(255, 255, 255, 1);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  mat-icon {
    transform: scale(4);
  }
}

.side-bar-item {
  right: 2px;
}

.collaps-btn {
  display: block;
  height: 110px;
  width: 0px;
  border-radius: 300px 0px 0px 300px;
  background-color: #006d2d;
  position: sticky;
  margin-top: 33.3333333333vh;
  left: calc(100vw);
  margin-right: -36px;
}

.collaps-icon {
  color: white;
  float: right;
  margin-right: 20px;
  margin-top: 6px;
}

.img-tint {
  filter: brightness(0.2) opacity(50%);
}

.widget-div {
  padding-bottom: 10px !important;
}
/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 380px) {
  .drap-and-drop-area {
    margin: 20px;
    // margin-right: -5px !important;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{ 
    font-size: 9px !important;
    padding: 0 6px !important;
    margin: 3px;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(94vh - 72px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
  .btn-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(98vh - 111px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
}

/* Extra small devices (phones, 375px and up) */
@media only screen and (min-width: 380px) {
  .drap-and-drop-area {
    margin: 20px;
    // margin-right: -5px !important;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{ 
    font-size: 9px !important;
    padding: 0 6px !important;
    margin: 3px;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(94vh - 62px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
  .btn-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(98vh - 111px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .drap-and-drop-area {
    margin: 20px;
    // margin-right: -5px !important;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{
    font-size: 9px;
    padding: 0 6px !important;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(97vh - 111px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .drap-and-drop-area {
    margin: 20px;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{
    font-size: 12px !important;
    padding: 0 8px !important;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(100vh - 110px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
    width:max-content
  }
  
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .drap-and-drop-area {
    margin: 20px;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{
    font-size: 12px !important;
    padding: 0 8px !important;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(100vh - 110px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .drap-and-drop-area {
    margin: 20px;
    position: absolute;
    left: 0;
    right: 0px;
    bottom: 0px;
    top: 0px;
    border: solid $gray 2px;
  }

  .btn{
    font-size: 12px !important;
    padding: 0 8px !important;
  }
  .btn-container-composer{
    display: flex;
    flex-direction: row;
    position: absolute;
    justify-content: end;
    top: calc(100vh - 110px);
    right: 34px;
    margin-left: 5px;
    overflow-y: auto;
  }
}

#project-title {
  background: whitesmoke;
  height: 45px;
  font-size: $fontSize;
  display: flex;
  flex-direction: row;
  font-family: "Inter";
}
.title-icon {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  mat-icon {
    vertical-align: middle;
    transform: scale(0.9);
    margin-left: 2px;
    margin-right: 2px;
    color: rgb(114, 114, 114);
  }

  mat-icon:hover {
    color: rgb(82, 82, 82);
  }
}

.title-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  label {
    font-size: small;
    font-weight: 600;
    font-family: "Inter";
  }
}
