<div class="composer-div" cdkDropListGroup>

  <mat-drawer-container class="sidebar-container">
    <mat-drawer
      class="side-nav"
      [mode]="sideNavMode"
      position="start"
      [opened]="sidenav"
    >
      <app-sidebar></app-sidebar>
    </mat-drawer>
    <mat-drawer
      #drawer
      mode="side"
      [opened]="opened"
      position="end"
      class="sidebar-items"
    >
      <div
        cdkDropList
        [cdkDropListData]="availableWidgets"
        (cdkDropListDropped)="drop($event)"
        cdkDropListSortingDisabled
        [cdkDropListEnterPredicate]="noReturnPredicate"
      >
        <app-widget-pane [widgets]="availableWidgets"></app-widget-pane>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div
        fxHide.lt-md="false"
        fxHide.md="true"
        fxHide.gt-md="true"
      >
        <div id="project-title" mat-list-item>
          <div
            class="title-icon"
            matTooltip="Back To Projects"
            (click)="closeProject()"
          >
            <mat-icon mat-list-icon> chevron_left </mat-icon>
          </div>
          <div class="title-text">
            <label>{{ title }}</label>
          </div>
        </div>
      </div>
      <!-- <mat-drawer-content>


      </mat-drawer-content> -->
      <div
        ngClass.md="nft-content-area"
        ngClass.gt-md="nft-content-area"
        ngClass.lt-md="nft-content-area-mobile"
      >
        <div
          cdkDropList
          [cdkDropListData]="usedWidgets"
          ngClass='drap-and-drop-area'
          (cdkDropListDropped)="drop($event)"
        >
        <div *ngIf="usedWidgets.length==0" class="center-empty-content">
          <img class="empty-canva-icon" [src]="noItemIcon" alt="icon" />
          <p class="empty-canva-text">No widgets yet.</p>
          <p class="empty-canva-text"> Drag and drop any widget from the right to populate your NFT.</p>
        </div>
       
          <div class="wrapper">
            <div fxLayout="row wrap" fxLayoutGap="10px grid" class="widget-div">
              <div
                fxFlex.lg="33%"
                fxFlex.md="50%"
                fxFlex.xs="100%"
                fxFlex.sm="100%"
                fxFlex.xl="25%"
                *ngFor="let widget of usedWidgets; index as i"
                style="cursor: move; padding-bottom: 20px !important"
                cdkDrag
              >
                <app-nft-timeline
                  *ngIf="widget.type === widgetTypes.timeline"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-nft-timeline>
                <app-nft-proofbot
                  *ngIf="widget.type === widgetTypes.proofbot"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-nft-proofbot>
                <app-nft-carbonfootprint
                  *ngIf="widget.type === widgetTypes.carbon"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-nft-carbonfootprint>
                <app-nft-image
                  *ngIf="widget.type === widgetTypes.image"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-nft-image>
                <app-bar-chart-widget
                  *ngIf="widget.type === widgetTypes.bar"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-bar-chart-widget>
                <app-pie-chart-widget
                  *ngIf="widget.type === widgetTypes.pie"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-pie-chart-widget>
                <app-table
                  *ngIf="widget.type === widgetTypes.table"
                  [id]="usedWidgets[i]._Id"
                  (onDeleteWidget)="deleteWidget(usedWidgets[i]._Id)"
                ></app-table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-bar-item">
        <button
          type="button"
          class="collaps-btn"
          [ngClass]="{ clicked: isClicked }"
          mat-flat-button
          (click)="drawer.toggle()"
          (click)="executeOpposite()"
        >
          <mat-icon *ngIf="isClicked === false" class="collaps-icon"
            >chevron_right</mat-icon
          >
          <mat-icon *ngIf="isClicked === true" class="collaps-icon"
            >chevron_left</mat-icon
          >
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </button>
      </div>
      <div 
        class="btn-container-composer"
        fxLayout="row wrap">
        <button
          class="btn"
          mat-flat-button
          (click)="saveOrUpdateProject(false)"
          [disabled]="saving"
        >
          <mat-icon class="icon">save</mat-icon>
          <span [class.spinner]="saving"> </span>Save Project
        </button>
        <div class="btn-container2-composer">
          <!-- <button
          class="btn"
          mat-flat-button
          (click)="generateHTML()"
          [disabled]="htmlGenerated"
        >
          <img
            class="download-icon"
            [class.img-tint]="htmlGenerated"
            src="../../../../assets/images/download.png"
          />
          <span [class.spinner]="htmlGenerated"> </span>Download HTML
        </button> -->
        <button
          class="btn"
          mat-flat-button
          (click)="generateSVG()"
          [disabled]="svgGenerated"
        >
          <img
            class="download-icon"
            [class.img-tint]="svgGenerated"
            src="../../../../assets/images/download.png"
          />
          <span [class.spinner]="svgGenerated"> </span>Download SVG
        </button>
        </div>
          
        
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>

<div *ngIf="projLoading" class="loading-div">
  <mat-icon class="material-symbols-outlined"> more_horiz </mat-icon>
</div>
