<mat-dialog-content class="mat-typography modal-content" fxLayout.="row">
  <mat-tab-group
    (selectedTabChange)="tabChanged($event)"
    [(selectedIndex)]="tabIndex"
    fxFlex="100%"
  >
    <mat-tab label="Query">
      <mat-grid-list cols="5" rowHeight="550px">
        <!--Column that displays the bar chart-->
        <mat-grid-tile colspan="5" style="overflow: auto">
          <app-ldaleditor
            [id]="bubbleChart.WidgetId"
            [type]="'bubble'"
            [query]="bubbleChart.Query!"
            (onQuerySuccess)="onQuerySuccess($event)"
          ></app-ldaleditor
        ></mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
    <mat-tab label="Chart Configuration" *ngIf="CheckQuerySavingStatus()">
      <mat-grid-list cols="5" rowHeight="550px">
        <!--Column that displays the bar chart-->
        <mat-grid-tile colspan="3">
          <!--Bar chart-->
          <div class="bubble-chart">
            <canvas
              baseChart
              class="canvas"
              [data]="chartData"
              [type]="'bubble'"
              [options]="bubbleChartOptions"
            >
            </canvas>
          </div>
        </mat-grid-tile>

        <!--Column that displays the configuration panel-->
        <mat-grid-tile colspan="2" class="form-tile">
          <div class="form-div">
            <h2><mat-icon class="title-icon">tune</mat-icon>Configure Chart</h2>
            <div fxLayout="row wrap">
              <!--input field for setting x axis name-->
              <mat-form-field appearance="fill" color="primary" fxFlex="100%">
                <mat-label>Title</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="title"
                  (ngModelChange)="drawChart()"
                />
              </mat-form-field>
              <!--input field for setting x axis name-->
              <mat-form-field appearance="fill" color="primary" fxFlex="45%">
                <mat-label>X Axis Name</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="xName"
                  (ngModelChange)="drawChart()"
                />
              </mat-form-field>

              <!--input field for setting y axis name-->
              <mat-form-field
                appearance="fill"
                color="primary"
                fxFlex="45%"
                style="float: right"
              >
                <mat-label>Y Axis Name</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="yName"
                  (ngModelChange)="drawChart()"
                />
              </mat-form-field>
              <mat-form-field appearance="fill" fxFlex="45%">
                <mat-label>Font size</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Ex. 12"
                  [(ngModel)]="fontSize"
                  (ngModelChange)="drawChart()"
                />
                <span matSuffix>px</span>
              </mat-form-field>
              <div
                class="colorbox"
                [(colorPicker)]="fontColor"
                [style.background]="fontColor"
                (colorPickerChange)="drawChart()"
              ></div>
            </div>

            <div class="domain"></div>

            <!--Values displayed in the bar chart-->
            <div class="bubble-chart-fields">
              <h3>Bubble Chart Fields</h3>
              <div
                class="field"
                *ngFor="let field of bubbleChartData; index as i"
              >
                <mat-card>
                  <label>{{ field.Name }}</label>
                  <div
                    class="colorbox"
                    [(colorPicker)]="bubbleColors[i]"
                    [style.background]="bubbleColors[i]"
                    (colorPickerChange)="drawChart()"
                  ></div>
                </mat-card>
              </div>
            </div>
          </div>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-tab>
  </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>

  <button
    mat-button
    [disabled]="saving"
    class="btn"
    (click)="updateReduxState()"
  >
    <mat-icon>save</mat-icon>
    <span [class.spinner]="saving"> </span>
    Save
  </button>
</mat-dialog-actions>
