@import "../../../../scss/mixins";
@import "../../../../scss/variables";
.modal-content {
  @include modal-content;
}

.btn {
  @include btn-primary;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $green !important;
}
.form-tile {
  background: whitesmoke;
}

.form-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.domain {
  display: flex;
  flex-direction: row;
}

.bubble-chart {
  height: 500px;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.canvas {
  margin: 50px;
}
.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.mat-form-field {
  transform: scale(0.95);
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

.field {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.field mat-form-field {
  width: 120px !important;
}

.domain .mat-form-field {
  width: 190px !important;
}

.colorbox {
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-left: 20px;
}

.field-set {
  display: flex;
  flex-direction: row;
}

.close {
  float: right;
  cursor: pointer;
  border-radius: 360px;
}

.title-icon {
  vertical-align: middle;
  margin-right: 5px;
}

.fields-header {
  display: flex;
  flex-direction: row;
}

.btn-add {
  vertical-align: middle;

  color: $green;
}

.field mat-card {
  display: flex;
  flex-direction: row;
}

.field .colorbox {
  position: absolute;
  right: 1.5px;
  top: 1.5px;
  bottom: 0;
}

.bubble-chart-fields {
  overflow: auto;
  background: #ccc;
  padding: 10px 10px 15px 10px;
  border-radius: 5px;
}

mat-tab-group.mat-primary .mat-ink-bar {
  background-color: $background !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}

.snackbar {
  background: white;
  color: black;
  .mat-simple-snackbar-action {
    color: $green !important;
  }
}
