@import "../../../../scss/mixins";
@import "../../../../scss/variables";

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .modal-content {
    width: 250px;
  }

  .content {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }
  
  h2{
    font-size: 14px;
  }

  .btn-cancel{
    font-size: 14px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 12px !important;
  }

  .option {
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .option-icon {
    height: 50px;
    width: 50px;
  }

  p{
    font-size: 14px;
    margin-top: -10px;
  }

  .option-header {
    width: 100%;
    background-color: #021d27;
    height: 35px;
    justify-content: center;
    text-align: center;
    padding-top: 23px;
    font-size: large;
    color: white;
    font-weight: bold;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .modal-content {
    width: 350px;
  }

  .content {
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  h2{
    font-size: 14px;
  }

  .btn-cancel{
    font-size: 14px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 12px !important;
  }

  .option {
    height: 200px;
    width: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .option-icon {
    height: 50px;
    width: 50px;
  }

  p{
    font-size: 14px;
    margin-top: -10px;
  }

  .option-header {
    width: 100%;
    background-color: #021d27;
    height: 35px;
    justify-content: center;
    text-align: center;
    padding-top: 23px;
    font-size: large;
    color: white;
    font-weight: bold;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .modal-content {
    width: 500px;
  }

  .content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  h2{
    font-size: 16px;
  }

  .btn-cancel{
    font-size: 16px !important;
  }

  .btn {
    @include btn-primary;
    font-size: 14px !important;
  }

  .option {
    height: 250px;
    width:250px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .option-icon {
    height:75px;
    width: 75px;
  }

  p{
    font-size: 16px;
    margin-top: -8px;
  }

  .option-header {
    width: 100%;
    background-color: #021d27;
    height: 36px;
    justify-content: center;
    text-align: center;
    padding-top: 23px;
    font-size: large;
    color: white;
    font-weight: bold;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .modal-content {
    width: 700px;
  }

  .content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  h2{
    font-size: 18px;
  }

  .btn-cancel{
    font-size: 1rem !important;
  }

  .btn {
    @include btn-primary;
  }

  .option {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .option-icon {
    height: 100px;
    width: 100px;
  }

  p{
    font-size: 20px;
    margin-top: 0px;
  }

  .option-header {
    width: 100%;
    background-color: #021d27;
    height: 50px;
    justify-content: center;
    text-align: center;
    padding-top: 23px;
    font-size: large;
    color: white;
    font-weight: bold;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .modal-content {
    width: 700px;
  }

  .content {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  h2{
    font-size: 18px;
  }

  .btn-cancel{
    font-size: 1rem !important;
  }

  .btn {
    @include btn-primary;
  }

  .option {
    height: 300px;
    width: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .option-icon {
    height: 100px;
    width: 100px;
  }

  p{
    font-size: 20px;
    margin-top: 0px;
  }

  .option-header {
    width: 100%;
    background-color: #021d27;
    height: 50px;
    justify-content: center;
    text-align: center;
    padding-top: 23px;
    font-size: large;
    color: white;
    font-weight: bold;
  }
}

.option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.option-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.option-footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-dialog-content{
  padding: 0 1px !important;
}

.mat-dialog-title{
  font-family: 'Inter' !important;
  font-weight: 400;
}

.option-header{
  font-family: 'Inter';
}