<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="pieChart.WidgetId"
>
  <div>
    <h2
      style="font-size: medium; font-weight: 200"
      [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
    >
      Pie Chart
      <button mat-icon-button (click)="deleteWidget()">
        <mat-icon>clear</mat-icon>
      </button>
    </h2>
  </div>
  <div class="chart-div">
    <img class="widget-card-icon" [src]="icon" />
  </div>
  <div class="widget-footer">
    <button mat-button class="btn" style="float: right" (click)="openAddData()">
      <mat-icon>add_circle</mat-icon>
      Add Data
    </button>
    <button
      mat-button
      class="btn"
      style="float: right"
      *ngIf="otpAdded()"
      (click)="openDialog()"
    >
      <mat-icon>edit</mat-icon>
      Configure
    </button>
  </div>
</div>
