<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="pieChart.WidgetId"
>
  <div fxLayoutAlign="space-between center">
    <label
      *ngIf="!isEditing"
      class="widget-title"
      [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
      (click)="enableEditing()"
      matTooltip="Click to edit title"
      >{{ pieChart.ChartTitle }}</label
    >
    <input
      type="text"
      *ngIf="isEditing"
      [value]="newTitle"
      (input)="onChangeTitle($event)"
      (keyup.enter)="saveTitle()"
      (click)="onClickInput()"
      maxlength="15"
      minlength="1"
      class="input-title"
    />

    <mat-icon
      (click)="deleteWidget()"
      matTooltip="Delete"
      class="delete-btn"
      matRipple
      >clear</mat-icon
    >
  </div>
  <div class="chart-div">
    <img class="widget-card-icon" [src]="icon" />
  </div>
  <div class="widget-footer">
    <button
      mat-flat-button
      fxFlex="50%"
      class="customize-btn"
      style="float: right"
      *ngIf="otpAdded()"
      (click)="openDialog()"
    >
      <mat-icon class="material-symbols-outlined"> build </mat-icon>
      Customize
    </button>
    <button
      mat-flat-button
      fxFlex="50%"
      class="add-data-btn"
      style="float: right"
      (click)="openAddData()"
    >
      <mat-icon>add_circle</mat-icon>
      {{ !otpAdded() ? "Add Data" : "Modify Data" }}
    </button>
  </div>
</div>
