<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="barChart.WidgetId"
>
  <div fxLayoutAlign="space-between center">
    <div class="title-div" *ngIf="!isEditing">
      <label
        class="widget-title"
        [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
        >{{ barChart.ChartTitle }}</label
      >
      <img
        src="../../../../assets/images/edit-iconpng.png"
        class="edit-icon material-symbols-outlined"
        matTooltip="Edit Title"
        matRipple
        (click)="enableEditing()"
      />
    </div>

    <div class="input-edit-title" *ngIf="isEditing">
      <input
        type="text"
        [value]="newTitle"
        [(ngModel)]="newTitle"
        (keyup.enter)="saveTitle()"
        (click)="onClickInput()"
        maxlength="15"
        minlength="1"
        placeholder="Enter Name Here"
        class="input-title"
        [appFocusElement]="isEditing"
      />
      <img
        src="../../../../assets/images/save-icon.png"
        class="save"
        (click)="saveTitle()"
        matTooltip="Save"
      />
      <img
        src="../../../../assets/images/cancel-icon.png"
        class="cancel"
        matTooltip="Cancel"
        (click)="cancel()"
      />
    </div>

    <mat-icon
      [matMenuTriggerFor]="menu"
      class="material-symbols-outlined menu-icon"
      matRipple
      >more_vert</mat-icon
    >
    <mat-menu #menu="matMenu" class="menu">
      <button mat-menu-item class="menu-btn" (click)="deleteWidget()">
        <span class="menu-text">Remove Widget</span>
      </button>
    </mat-menu>
  </div>
  <div class="chart-div">
    <img class="widget-card-icon" [src]="icon" />
  </div>
  <div class="widget-footer" fxLayout="row wrap">
    <button
      mat-flat-button
      fxFlex="50%"
      class="customize-btn"
      style="float: right"
      *ngIf="otpAdded()"
      (click)="openDialog()"
    >
      <mat-icon class="material-symbols-outlined"> build </mat-icon>
      Customize
    </button>
    <button
      mat-flat-button
      fxFlex="50%"
      class="add-data-btn"
      style="float: right"
      (click)="openAddData()"
    >
      <mat-icon>add_circle</mat-icon>
      {{ !otpAdded() ? "Add Data" : "Modify Data" }}
    </button>
  </div>
</div>
