<div class="ldal-div">
  <div class="ldal-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <div class="warning">
        <mat-icon class="material-icons-outlined warning-icon"
          >warning_amber</mat-icon
        >
        {{
          "Output format should be  [{Name: 'Sri Lanka',Value: 200,},{Name: 'US',Value: 400}] for charts."
        }}
      </div>
    </div>

    <div fxLayoutAlign="space-end center">
      <button
        mat-flat-button
        class="btn-execute"
        (click)="queryExecuter()"
        [disabled]="loading"
      >
        <span [class.spinner]="loading"> </span>
        <mat-icon>play_arrow</mat-icon>Execute
      </button>
      <button mat-flat-button class="btn-output" (click)="toggleOutput()">
        <mat-icon
          matBadge="1"
          matBadgePosition="before"
          matBadgeColor="warn"
          [matBadgeHidden]="!newResults"
          >terminal</mat-icon
        >
        Output
      </button>
    </div>
  </div>

  <div class="query-area" fxLayout="row wrap">
    <div
      class="ace-editor"
      [fxFlex]="showOutput ? '60%' : '100%'"
      #editor
    ></div>
    <div class="output" fxFlex="40%" *ngIf="showOutput">
      Output <br />
      <pre>{{ jsonPretty }}</pre>
    </div>
  </div>
</div>
