<div class="ldal-div">
  <div class="ldal-header" fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <label id="title">Type Query : </label>
      <label style="color: red">
        {{
          "*Output format should be  [{Name: 'Sri Lanka',Value: 200,},{Name: 'US',Value: 400}]"
        }}
      </label>
    </div>

    <div fxLayoutAlign="space-end center">
      <button
        mat-flat-button
        class="btn-execute"
        (click)="queryExecuter()"
        [disabled]="loading"
      >
        <span [class.spinner]="loading"> </span>
        <mat-icon>play_arrow</mat-icon>Execute
      </button>
    </div>
  </div>

  <div class="query-area">
    <div class="ace-editor" #editor></div>
  </div>
</div>
