<h2 mat-dialog-title>Available Proofs</h2>
<mat-dialog-content>
  <div class="proofbot-content">
    <div class="proof-card" *ngFor="let data of proofbot.Data!">
      <label>Transaction Id - {{ data.TxnHash }}</label>
      <label>Product Name - {{ proofbot.ProductName }}</label>
      <label>Batch - {{ data.BatchId }}</label>
      <label>Proofs - </label>
      <div class="url-list">
        <div *ngFor="let url of data.Urls">
          <a class="proof-url" [href]="url.Url" target="_blank">{{
            url.Type.toUpperCase()
          }}</a>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn-cancel">Cancel</button>
</mat-dialog-actions>
