@import "../../../../scss/mixins";
@import "../../../../scss/variables";
.modal-content {
  @include modal-content;
}

.btn {
  @include btn-primary;
}
::ng-deep .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: $green !important;
}

::ng-deep.mat-form-field-underline {
  /*change color of underline*/
  background-color: $green !important;
}

::ng-deep.mat-form-field-ripple {
  /*change color of underline when focused*/
  background-color: $green !important;
}
.form-tile {
  background: whitesmoke;
}

.form-div {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;

  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  flex-direction: row;
}

.field-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  height: fit-content;
  justify-content: space-between;
}

.pie-chart {
  height: 100vh;
  width: 88%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie-chart-canvas {
  margin: -134px 50px 0px 50px;
}

.mat-form-field + .mat-form-field {
  margin-left: 3px;
}

.mat-form-field {
  transform: scale(0.95);
}

.example-container {
  margin-left: 8px;
}

.example-right-align {
  text-align: right;
}

.field {
  margin-top: 10px;
}
.field mat-form-field {
  width: 120px !important;
}

.input-group .mat-form-field {
  width: 190px !important;
}

.field-set {
  display: flex;
  flex-direction: row;
}

.close {
  float: right;
  cursor: pointer;
  border-radius: 360px;
}

.title-icon {
  vertical-align: middle;
  margin-right: 5px;
  margin-left: 6px;
}

.fields-header {
  display: flex;
  flex-direction: row;
}

.btn-add {
  vertical-align: middle;

  color: $green;
}

.field mat-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1px 1px 1px 15px !important;
}
.colorbox {
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.colorbox-font {
  margin-top: 1.4px;
  height: 49.46px;
  width: 49.46px;
  cursor: pointer;
  margin-left: 10px;
}

.pie-chart-fields {
  overflow: auto;
  background: #ccc;
  padding: 10px 10px 15px 10px;
  border-radius: 5px;
  margin-left: 5px;
}

mat-tab-group.mat-primary .mat-ink-bar {
  background-color: $background !important;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #006d2d;
  animation: spinner 0.8s linear infinite;
}

.field-name-input input[type="text"] {
  border-bottom: 1px solid #cdcdcd;
}

.field-name-input input[type="text"]:focus {
  border-bottom: 1px solid blue;
}

.field-save-icon {
  transform: scale(0.2);
  border-radius: 5px;
  padding: 2px;
  margin-left: 5px;
  cursor: pointer;
  margin-top: -2px;
}

.field-save-icon:hover {
  background: #ccc;
}

.btn:disabled {
  background-color: whitesmoke;
  color: #ccc !important;
}

.colorbox-font {
  margin-top: 1.4px;
  height: 49.46px;
  width: 49.46px;
  cursor: pointer;
  margin-left: 10px;
}
.modal-footer {
  width: 70vw;
}

.pie-chart-canvas1{
  margin-top: -200px;
}

@media only screen and (max-width: 1600px) {
  .pie-chart-canvas {
    margin: -55px 50px 0px 50px;
  }
}

@media only screen and (max-width: 1375px) {
  .modal-content {
    width: 70vw;
  }
  .modal-footer {
    padding-bottom: 20px;
    width: 70vw;
  }
  .pie-chart-canvas {
    margin: -128px 50px 0px 50px;
  }
  .mat-grid-tile-content {
    overflow-y: auto;
  }
}

@media only screen and (max-width: 880px) {
  .modal-content {
    width: 70vw;
  }
  .modal-footer {
    padding-bottom: 20px;
  }
  .pie-chart-canvas {
    margin: -134px 50px 0px 50px;
  }
  .pie-chart-canvas1{
    margin-top: 0;
  }
}

@media only screen and (max-width: 729px) {
  .pie-chart-canvas {
    margin: -134px 50px 0px 50px;
  }
  .modal-content {
    width: 70vw;
  }
}

@media only screen and (max-width: 550px) {
  .pie-chart-canvas {
    margin: -134px 50px 0px 50px;
  }
  .modal-content {
    padding: 0px 9px;
    width: 70vw;
  }
  .modal-footer {
    width: 60vw;
    padding-bottom: 20px;
  }
}

@media only screen and (max-width: 414px) {
  .pie-chart-canvas {
    margin: -510px 50px 0px 50px;
  }
  .modal-content {
    padding: 0px 9px;
    width: 312px;
  }
  .modal-footer {
    width: 60vw;
    padding-bottom: 20px;
  }
  .field mat-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1px 1px 1px 5px !important;
  }
}

@media only screen and (max-width: 393px) {
  .pie-chart-view {
    width: 78vw;
  }
}

@media only screen and (max-width: 390px) {
  .pie-chart-canvas {
    margin: -134px 50px 0px 50px;
  }

  .modal-content {
    padding: 0px 0px;
    width: 310px;
  }

  .pie-chart {
    height: 100vh;
    width: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
  }
  .modal-footer {
    width: 60vw;
    padding-bottom: 20px;
  }
  .pie-chart-view {
    width: 77vw;
  }
}

@media only screen and (max-width: 376px) {
  .pie-chart-canvas {
    margin: -331px 50px 0px 50px;
  }
  .pie-chart {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .modal-content {
    padding: 0px 0px;
    width: 292px;
  }
  .modal-footer {
    width: 60vw;
    padding-bottom: 20px;
  }
  .pie-chart-view {
    width: 78vw;
  }
  .mat-grid-tile-content {
    overflow-y: auto;
  }
  .colorbox {
    height: 50px;
    width: 50px;
    cursor: pointer;
    padding-top: 2px;
  }
  .field mat-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1px 1px 1px 5px !important;
  }
}

.input-set {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:start;
}

@media only screen and (max-width: 3000px) {
  .modal-content {
    width: 70vw;
  }
  .modal-footer {
    padding-bottom: 20px;
    width: 70vw;
  }
}

@media only screen and (max-width: 2000px) {
  .modal-content {
    width: 75vw;
  }
  .modal-footer {
    width: 70vw;
    padding-bottom: 20px;
  }
}

.field-card-mobile{
  display:inline-block;
}

.input-set-mobile {
  align-items: center;
  display: inherit;
}