<div
  class="modal-parent-query-editor21"
  fxLayout="column"
  fxLayoutAlign="space-between center"
>
  <mat-dialog-content
    fxLayout="column"
    fxFlex="90"
    class="mat-typography modal-content"
    disableClose
  >
    <mat-tab-group
      (selectedTabChange)="tabChanged($event)"
      fxLayout="column"
      fxFlexFill
      [(selectedIndex)]="tabIndex"
    >
      <mat-tab label="Query" fxLayout="row">
        <mat-grid-list cols="5" rowHeight="60vh">
          <!--Column that displays the pie chart-->
          <mat-grid-tile colspan="5">
            <app-ldaleditor
              [id]="pieChart.WidgetId"
              [type]="'pie'"
              [query]="pieChart.Query!"
              [widget]="pieChart"
              (onQueryResult)="onQueryResult($event)"
            ></app-ldaleditor>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab
        label="Chart Configuration"
        fxLayout="row"
        *ngIf="CheckQuerySavingStatus()"
      >
        <mat-grid-list class="pie-chart-view" cols="5" [rowHeight]="rowHeight">
          <!--Column that displays the pie chart-->
          <mat-grid-tile [colspan]="colspan1" fxLayoutAlign="center start">
            <!--Pie chart-->
            <div class="pie-chart1 pie-chart-card">
              <canvas baseChart class="pie-chart-canvas1" [id]="'pie-chart'">
              </canvas>
            </div>
          </mat-grid-tile>
          <!--Column that displays the configuration panel-->
          <mat-grid-tile colspan="2" *ngIf="!rowHeightMobile" class="form-tile">
            <div class="form-div">
              <h2>
                <mat-icon class="title-icon">tune</mat-icon>Configure Chart
              </h2>
              <div class="input-group">
                <!--input field for setting x axis name-->
                <mat-form-field appearance="fill" color="primary">
                  <mat-label>Title</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="15"
                    minlength="1"
                    [(ngModel)]="title"
                    (ngModelChange)="drawChart()"
                  />
                </mat-form-field>
              </div>
              <div class="input-group">
                <mat-form-field appearance="fill">
                  <mat-label>Font size</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Ex. 12"
                    [max]="15"
                    [min]="2"
                    [(ngModel)]="fontSize"
                    (ngModelChange)="drawChart()"
                  />
                  <span matSuffix>px</span>
                </mat-form-field>
                <div
                  class="colorbox-font"
                  [(colorPicker)]="fontColor"
                  [style.background]="fontColor"
                  (colorPickerChange)="drawChart()"
                ></div>
              </div>

              <!--Values displayed in the bar chart-->
              <div class="pie-chart-fields">
                <h3>Pie Chart Fields</h3>
                <div
                  class="field"
                  *ngFor="let field of pieChartData; index as i"
                >
                  <mat-card class="field-card">
                    <div class="input-set">
                      <input
                        type="text"
                        class="field-name-input"
                        maxlength="15"
                        [value]="field.Name"
                        (keyup.enter)="saveFieldName()"
                        (input)="setFieldName($event, i)"
                        *ngIf="fieldControlEnabledIndex === i"
                      />
                      <label
                        *ngIf="
                          fieldControlEnabledIndex === -1 ||
                          fieldControlEnabledIndex !== i
                        "
                        style="
                          vertical-align: middle;
                          max-width: 230px;
                          overflow: hidden;
                        "
                        >{{ field.Name }}</label
                      >
                      <mat-icon
                        matRipple
                        matTooltip="Edit field name"
                        class="material-icons-outlined field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="
                          fieldControlEnabledIndex === -1 ||
                          fieldControlEnabledIndex !== i
                        "
                        (click)="enableFieldOptions(i)"
                      >
                        edit
                      </mat-icon>
                      <mat-icon
                        matRipple
                        matTooltip="Save field name"
                        class="field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="fieldControlEnabledIndex === i"
                        (click)="saveFieldName()"
                      >
                        done
                      </mat-icon>
                      <mat-icon
                        matRipple
                        matTooltip="Cancel"
                        class="field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="fieldControlEnabledIndex === i"
                        (click)="disableFieldOptions()"
                      >
                        close
                      </mat-icon>
                    </div>

                    <div
                      class="colorbox"
                      [(colorPicker)]="fieldColors[i]"
                      [style.background]="fieldColors[i]"
                      (colorPickerChange)="drawChart()"
                    ></div>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="5" rowHeight="550px" *ngIf="rowHeightMobile">
          <!--Column that displays the configuration panel-->
          <mat-grid-tile colspan="5" class="form-tile">
            <div class="form-div">
              <h2>
                <mat-icon class="title-icon">tune</mat-icon>Configure Chart
              </h2>
              <div class="input-group">
                <!--input field for setting x axis name-->
                <mat-form-field appearance="fill" color="primary">
                  <mat-label>Title</mat-label>
                  <input
                    matInput
                    type="text"
                    maxlength="15"
                    minlength="1"
                    [(ngModel)]="title"
                    (ngModelChange)="drawChart()"
                  />
                </mat-form-field>
              </div>
              <div class="input-group">
                <mat-form-field appearance="fill">
                  <mat-label>Font size</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Ex. 12"
                    [max]="15"
                    [min]="2"
                    [(ngModel)]="fontSize"
                    (ngModelChange)="drawChart()"
                  />
                  <span matSuffix>px</span>
                </mat-form-field>
                <div
                  class="colorbox-font"
                  [(colorPicker)]="fontColor"
                  [style.background]="fontColor"
                  (colorPickerChange)="drawChart()"
                ></div>
              </div>

              <!--Values displayed in the bar chart-->
              <div class="pie-chart-fields">
                <h3>Pie Chart Fields</h3>
                <div
                  class="field"
                  *ngFor="let field of pieChartData; index as i"
                >
                  <mat-card class="field-card">
                    <div class="input-set">
                      <input
                        type="text"
                        class="field-name-input"
                        maxlength="15"
                        [value]="field.Name"
                        (keyup.enter)="saveFieldName()"
                        (input)="setFieldName($event, i)"
                        *ngIf="fieldControlEnabledIndex === i"
                      />

                      <label
                        *ngIf="
                          fieldControlEnabledIndex === -1 ||
                          fieldControlEnabledIndex !== i
                        "
                        style="vertical-align: middle"
                        >{{ field.Name }}</label
                      >

                      <mat-icon
                        matRipple
                        matTooltip="Edit field name"
                        class="material-icons-outlined field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="
                          fieldControlEnabledIndex === -1 ||
                          fieldControlEnabledIndex !== i
                        "
                        (click)="enableFieldOptions(i)"
                      >
                        edit
                      </mat-icon>
                      <mat-icon
                        matRipple
                        matTooltip="Save field name"
                        class="field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="fieldControlEnabledIndex === i"
                        (click)="saveFieldName()"
                      >
                        done
                      </mat-icon>
                      <mat-icon
                        matRipple
                        matTooltip="Cancel"
                        class="field-save-icon"
                        style="vertical-align: middle; transform: scale(0.8)"
                        *ngIf="fieldControlEnabledIndex === i"
                        (click)="disableFieldOptions()"
                      >
                        close
                      </mat-icon>
                    </div>
                    <div
                      style="
                        text-align: center;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                      "
                    >
                      <div
                        class="colorbox"
                        [(colorPicker)]="fieldColors[i]"
                        cpPosition="bottom-left"
                        [style.background]="fieldColors[i]"
                        (colorPickerChange)="drawChart()"
                      ></div>
                    </div>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <div
    class="modal-footer modal-footer-btn"
    fxLayout="raw"
    fxLayoutAlign="end center"
  >
    <mat-dialog-actions fxLayoutAlign="end center">
      <button mat-button (click)="onCancel()" class="btn-cancel">Cancel</button>
      <button
        mat-button
        [disabled]="saving || !querySuccess"
        class="btn"
        (click)="updateReduxState()"
        cdkFocusInitial
      >
        <mat-icon>save</mat-icon>
        <span [class.spinner]="saving"> </span>
        Save
      </button>
    </mat-dialog-actions>
  </div>
</div>
