<div class="modal-parent">
  <mat-dialog-content
    class="mat-typography modal-content"
    fxLayout="row"
    disableClose
  >
    <mat-tab-group
      (selectedTabChange)="tabChanged($event)"
      fxFlex="100%"
      [(selectedIndex)]="tabIndex"
    >
      <mat-tab label="Query">
        <mat-grid-list cols="5" rowHeight="550px">
          <!--Column that displays the bar chart-->
          <mat-grid-tile colspan="5" style="overflow: auto">
            <app-ldaleditor
              [id]="pieChart.WidgetId"
              [type]="'pie'"
              [query]="pieChart.Query!"
              [widget]="pieChart"
              (onQueryResult)="onQueryResult($event)"
            ></app-ldaleditor
          ></mat-grid-tile>
        </mat-grid-list>
      </mat-tab>
      <mat-tab label="Chart Configuration" *ngIf="CheckQuerySavingStatus()">
        <mat-grid-list cols="5" rowHeight="550px">
          <!--Column that displays the bar chart-->
          <mat-grid-tile colspan="3" style="overflow: auto">
            <!--Bar chart-->
            <div class="pie-chart">
              <canvas baseChart class="pie-chart-canvas" [id]="'pie-chart'">
              </canvas>
            </div>
          </mat-grid-tile>

          <!--Column that displays the configuration panel-->
          <mat-grid-tile colspan="2" class="form-tile">
            <div class="form-div">
              <h2>
                <mat-icon class="title-icon">tune</mat-icon>Configure Chart
              </h2>
              <div class="input-group">
                <!--input field for setting x axis name-->
                <mat-form-field appearance="fill" color="primary">
                  <mat-label>Title</mat-label>
                  <input
                    matInput
                    type="text"
                    [(ngModel)]="title"
                    (ngModelChange)="drawChart()"
                  />
                </mat-form-field>
              </div>

              <div class="input-group">
                <mat-form-field appearance="fill">
                  <mat-label>Font size</mat-label>
                  <input
                    matInput
                    type="number"
                    placeholder="Ex. 12"
                    [max]="15"
                    [(ngModel)]="fontSize"
                    (ngModelChange)="drawChart()"
                  />
                  <span matSuffix>px</span>
                </mat-form-field>
                <div
                  class="colorbox"
                  [(colorPicker)]="fontColor"
                  [style.background]="fontColor"
                  (colorPickerChange)="drawChart()"
                ></div>
              </div>

              <!--Values displayed in the bar chart-->
              <div class="pie-chart-fields">
                <h3>Pie Chart Fields</h3>
                <div
                  class="field"
                  *ngFor="let field of pieChartData; index as i"
                >
                  <mat-card>
                    <input
                      type="text"
                      class="field-name-input"
                      maxlength="20"
                      [value]="field.Name"
                      (keyup.enter)="saveFieldName()"
                      (input)="setFieldName($event, i)"
                      *ngIf="fieldControlEnabledIndex === i"
                    />
                    <label
                      *ngIf="
                        fieldControlEnabledIndex === -1 ||
                        fieldControlEnabledIndex !== i
                      "
                      style="
                        vertical-align: middle;
                        max-width: 230px;
                        overflow: hidden;
                      "
                      >{{ field.Name }}</label
                    >
                    <mat-icon
                      matRipple
                      matTooltip="Edit field name"
                      class="material-icons-outlined field-save-icon"
                      style="vertical-align: middle; transform: scale(0.8)"
                      *ngIf="
                        fieldControlEnabledIndex === -1 ||
                        fieldControlEnabledIndex !== i
                      "
                      (click)="enableFieldOptions(i)"
                    >
                      edit
                    </mat-icon>
                    <mat-icon
                      matRipple
                      matTooltip="Save field name"
                      class="field-save-icon"
                      style="vertical-align: middle; transform: scale(0.8)"
                      *ngIf="fieldControlEnabledIndex === i"
                      (click)="saveFieldName()"
                    >
                      done
                    </mat-icon>
                    <mat-icon
                      matRipple
                      matTooltip="Cancel"
                      class="field-save-icon"
                      style="vertical-align: middle; transform: scale(0.8)"
                      *ngIf="fieldControlEnabledIndex === i"
                      (click)="disableFieldOptions()"
                    >
                      close
                    </mat-icon>
                    <div
                      class="colorbox"
                      [(colorPicker)]="fieldColors[i]"
                      [style.background]="fieldColors[i]"
                      (colorPickerChange)="drawChart()"
                    ></div>
                  </mat-card>
                </div>
              </div>
            </div>
          </mat-grid-tile> </mat-grid-list
      ></mat-tab>
    </mat-tab-group>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button (click)="onCancel()" class="btn-cancel">Cancel</button>

    <button
      mat-button
      [disabled]="saving || !querySuccess"
      class="btn"
      (click)="updateReduxState()"
      cdkFocusInitial
    >
      <mat-icon>save</mat-icon>
      <span [class.spinner]="saving"> </span>
      Save
    </button>
  </mat-dialog-actions>
</div>
