/* You can add global styles to this file, and also import other style files */
@import "./scss/mixins";
@import "./scss/variables";
@import "~highlight.js/styles/github.css";

html,
body {
  height: 100%;
  font-family: Inter !important;
}
body {
  margin: 0;
  // font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-cancel {
  color: #c32d2d;
  font-family: 'Inter';
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.modal-parent {
  margin: -24px;
  padding: 24px;
  max-height: calc(100vh - 50px);
  overflow: auto;
  font-family: 'Inter' !important;
}

.snackbar-all{
  .mat-simple-snackbar-action {
    color: white !important;
    font-family: 'Inter' !important;
  }
  .mat-simple-snack-bar-content{
    font-family: 'Inter' !important;
  }
}

.mat-typography{
  font-family: 'Inter' !important;
}

.mat-tooltip {
  font-family: 'Inter' !important;
}