@import "./variables";

@mixin widget-div {
  height: $widgetDimen;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  padding: 15px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  @include shadow;
  overflow: hidden;
}

@mixin btn-basic {
  color: black;
  background: white;
}

@mixin btn-primary {
  color: white;
  background: $background;
}

@mixin btn-accent {
  color: white;
  background: $green;
}

@mixin icon {
  transform: scale($sideBarIconScale);
}

@mixin modal-content {
  max-height: unset !important;
  max-width: unset !important;
  width: $modalWidth;
}

@mixin shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
