$background: #021d27;
$backgroundHover: #02131a;
$gray: #eef1f3;
$green: #00c853;

$fontSize: 12px;
$widgetPaneFontSize: 13px;
$widgetPaneIconScale: 0.9;
$sideBarIconScale: 0.8;

$headerHeight: 50px;

$widgetDimen: 300px;

$modalHeight: 600px;
$modalWidth: 1100px;

$queryIDEHeight: 460px;
