<div>
  <div id="project-title" mat-list-item>
    <mat-icon mat-list-icon class="title-icon">handyman</mat-icon>
    {{ title }}
  </div>
  <mat-nav-list>
    <mat-list-item routerLink="/composer" [routerLinkActive]="['is-active']">
      <mat-icon mat-list-icon class="icon">app_registration</mat-icon>
      <label class="nav-title">Project Content</label>
    </mat-list-item>
    <mat-list-item id="layouts" disableRipple>
      <div id="layoutsDiv">
        <mat-icon mat-list-icon class="icon">notes</mat-icon>
        <label class="nav-title">Layouts</label>
        <button
          class="icon"
          mat-icon-button
          (click)="toggleLayouts()"
          id="collapseBtn"
        >
          <mat-icon>{{ layouts ? "expand_less" : "expand_more" }}</mat-icon>
        </button>
        <mat-list
          id="widgets"
          [ngStyle]="{ display: !layouts ? 'none' : 'block' }"
        >
          <mat-list-item *ngFor="let widget of widgets">
            <mat-icon mat-list-icon class="icon">{{ widget.icon }}</mat-icon>
            <label>{{ widget.name }}</label>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-list-item routerLink="/nft-html" [routerLinkActive]="['is-active']">
      <mat-icon mat-list-icon class="icon">code_off</mat-icon>
      <label class="nav-title">NFT HTML</label>
    </mat-list-item>
    <mat-list-item routerLink="/nft-svg" [routerLinkActive]="['is-active']">
      <mat-icon mat-list-icon class="icon">wallpaper</mat-icon>
      <label class="nav-title">NFT SVG</label>
    </mat-list-item>
  </mat-nav-list>
</div>
