<div>
  <div id="project-title" mat-list-item>
    <mat-icon mat-list-icon class="title-icon">handyman</mat-icon>
    <!--<input type="text" [(ngModel)]="title" />-->
    <label>{{ title }}</label>
  </div>
  <div id="header" mat-list-item>
    <mat-icon mat-list-icon class="icon">app_registration</mat-icon>
    Project Content
  </div>
  <mat-nav-list>
    <mat-list-item
      id="layouts"
      [routerLinkActive]="['is-active']"
      disableRipple
    >
      <div id="layoutsDiv">
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <div [routerLink]="layoutLink">
            <mat-icon mat-list-icon class="icon">notes</mat-icon>
            <label class="nav-title">Layouts</label>
          </div>

          <button
            class="icon"
            mat-icon-button
            (click)="toggleLayouts()"
            id="collapseBtn"
          >
            <mat-icon>{{ layouts ? "expand_less" : "expand_more" }}</mat-icon>
          </button>
        </div>

        <mat-list
          id="widgets"
          [ngStyle]="{ display: !layouts ? 'none' : 'block' }"
        >
          <mat-list-item *ngIf="timelineAvailable()">
            <mat-icon mat-list-icon class="icon">event_note</mat-icon>
            <label>Timeline</label>
          </mat-list-item>

          <mat-list-item *ngIf="proofbotAvailable()">
            <mat-icon mat-list-icon class="icon">ondemand_video</mat-icon>
            <label>Proofbot</label>
          </mat-list-item>

          <mat-list-item *ngIf="carbonAvailable()">
            <mat-icon mat-list-icon class="icon">filter_drama</mat-icon>
            <label>Carbon Footprint</label>
          </mat-list-item>

          <mat-list-item *ngIf="imagesAvailable()">
            <mat-icon mat-list-icon class="icon">wallpaper</mat-icon>
            <label>NFT Image</label>
          </mat-list-item>

          <mat-list-item *ngIf="barChartAvailable()">
            <mat-icon mat-list-icon class="icon">bar_chart</mat-icon>
            <label>Bar Chart</label>
          </mat-list-item>

          <mat-list-item *ngIf="pieChartAvailable()">
            <mat-icon mat-list-icon class="icon">pie_chart</mat-icon>
            <label>Pie Chart</label>
          </mat-list-item>

          <mat-list-item *ngIf="bubbleChartAvailable()">
            <mat-icon mat-list-icon class="icon">bubble_chart</mat-icon>
            <label>Bubble Chart</label>
          </mat-list-item>

          <mat-list-item *ngIf="tableAvailable()">
            <mat-icon mat-list-icon class="icon">table_view</mat-icon>
            <label>Table</label>
          </mat-list-item>
        </mat-list>
      </div>
    </mat-list-item>
    <mat-list-item
      routerLink="/nft-html"
      [routerLinkActive]="['is-active']"
      disableRipple
    >
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-icon mat-list-icon class="icon">code_off</mat-icon>
          <label [routerLink]="['/layout/nft-html']" routerLinkActive="router-link-active"  class="nav-title">NFT HTML</label>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item disableRipple>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <mat-icon mat-list-icon class="icon">wallpaper</mat-icon>
          <label [routerLink]="['/layout/nft-svg']" routerLinkActive="router-link-active" class="nav-title">NFT SVG</label>
        </div>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
