<mat-dialog-content class="mat-typography modal-content">
  <mat-grid-list cols="5" rowHeight="600px">
    <!--Column that displays the bar chart-->
    <mat-grid-tile colspan="3">
      <!--Bar chart-->
      <div class="chart">
        <figure id="bar"></figure>
      </div>
    </mat-grid-tile>

    <!--Column that displays the configuration panel-->
    <mat-grid-tile colspan="2" class="form-tile">
      <div class="form-div">
        <h2><mat-icon class="title-icon">tune</mat-icon>Configure Chart</h2>
        <div class="domain">
          <!--Domain min value-->
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Min Value</mat-label>
            <input
              matInput
              type="number"
              placeholder="Ex. 100"
              min="0"
              [(ngModel)]="min"
              (ngModelChange)="updateChart()"
            />
          </mat-form-field>

          <!--Domain max value-->
          <mat-form-field appearance="fill" color="primary">
            <mat-label>Max Value</mat-label>
            <input
              matInput
              type="number"
              placeholder="Ex. 1000"
              min="1"
              [(ngModel)]="max"
              (ngModelChange)="updateChart()"
            />
          </mat-form-field>
        </div>

        <!--Fileds header-->
        <div class="fileds-header">
          <!--Add new field button-->
          <button mat-button class="btn-add" (click)="addNewField()">
            <mat-icon>add</mat-icon>Add New Field
          </button>
        </div>

        <!--Values displayed in the bar chart-->
        <div class="field" *ngFor="let value of data">
          <mat-card>
            <mat-card-subtitle
              >Bar Chart Field
              <mat-icon
                class="close"
                matRipple
                [matRippleCentered]="true"
                (click)="deleteField(value._id)"
                >clear</mat-icon
              >
            </mat-card-subtitle>

            <div class="field-set">
              <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input
                  matInput
                  type="text"
                  [(ngModel)]="value.name"
                  (ngModelChange)="updateChart()"
                />
              </mat-form-field>

              <mat-form-field appearance="fill" floatLabel="always">
                <mat-label>Value</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="0"
                  [(ngModel)]="value.value"
                  (ngModelChange)="updateChart()"
                />
              </mat-form-field>
              <div
                class="colorbox"
                [(colorPicker)]="value.color"
                [style.background]="value.color"
                (colorPickerChange)="updateChart()"
              ></div>
            </div>
          </mat-card>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button nat-button (click)="showChart()">show</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    class="btn"
    cdkFocusInitial
    (click)="addtoBarcharToNFT()"
  >Save</button>

</mat-dialog-actions>
