@import "../../../../scss/mixins";
@import "../../../../scss/variables";

.widget-div {
  @include widget-div;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.content-div {
  //border: dotted 2px #ccc;
  border-radius: 5px;
  position: absolute;
  bottom: 50px;
  top: 50px;
  right: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  //background-color: #ccc;
}

.timeline-content {
  overflow: auto;
  width: 90%;
}

.timeline {
  $color: #00c853;
  $timeline-font-color: white;

  padding: 0 25px;
  margin: 20px 0 0 0;
  position: relative;
  counter-reset: list 0;

  &-item {
    list-style: none;
    border-left: 4px solid $color;

    &:last-child {
      border-left-color: transparent;
    }
  }

  &-title {
    margin: 0;
    padding: 0;
    &:before {
      $size: 40px;
      color: $timeline-font-color;
      position: relative;
      left: -22px;
      display: inline-block;
      width: $size;
      height: $size;
      line-height: $size;
      text-align: center;
      border-radius: 50%;
      background-color: $color;
      counter-increment: list;
      content: counter(list);
    }
  }

  &-text {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
  }
}

.chrt {
  margin: 10px;
  transform: scale(0.4);
}

.btn {
  @include btn-primary;
  transform: scale(0.9);
}

mat-icon {
  color: $green;
}
.btn mat-icon {
  color: white;
}

.widget-footer {
  position: absolute;
  right: 0px;
  left: 0;
  bottom: 0;
  top: 255px;
  justify-content: flex-end;
}

h2 mat-icon {
  color: black;
  float: right;
  cursor: pointer;
}

h2 button {
  float: right;
  vertical-align: middle;
}

.tl-icon {
  transform: scale(4);
  color: $background;
}

.add-data-btn {
  color: #00d6a0;
  mat-icon {
    color: #00d6a0;
    transform: scale(0.7);
  }
}

.customize-btn {
  color: #969696;
  mat-icon {
    color: #969696;
    transform: scale(0.7);
  }
}

.delete-btn {
  mat-icon {
    color: #c62929;
  }
}
