<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="timeline.WidgetId"
>
  <div>
    <h2
      style="font-size: medium; font-weight: 200"
      [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
    >
      Timeline<button mat-icon-button (click)="deleteWidget()">
        <mat-icon>clear</mat-icon>
      </button>
    </h2>
  </div>
  <div class="content-div">
    <img
      class="widget-card-icon"
      [src]="icon"
      *ngIf="childrenOne.length === 0"
    />

    <div class="timeline-content" *ngIf="childrenOne.length > 0">
      <div class="time-box w-100" *ngFor="let childrenOne of childrenOne">
        <div class="header d-flex align-items-center">
          <div class="left-content text-left mr-4">
            <img width="100%" [src]="childrenOne.Icon" alt="icon" />
          </div>
          <div class="right-content text-left">
            <h4 class="mb-1">{{ childrenOne.title }}</h4>
            <p class="mb-2">{{ "" }}</p>
          </div>
        </div>
        <div class="content d-flex flex-row">
          <div class="sub-content d-flex align-items-start py-4">
            <div class="left-content d-flex justify-content-center">
              <div class="vr-line"></div>
            </div>
            <div class="right-content p-3 border rounded">
              <div *ngFor="let childrenTwo of childrenOne.Children">
                <li class="timeline-item">
                  <p class="timeline-text">
                    {{ childrenTwo.Key }} : {{ childrenTwo.Value }}
                  </p>
                </li>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <ul class="timeline">
        <div *ngFor="let childrenOne of childrenOne">
          <h3 class="timeline-title">
            <b>{{ childrenOne.Title }}</b>
          </h3>
          <div *ngFor="let childrenTwo of childrenOne.Children">
            <li class="timeline-item">
              <p class="timeline-text">
                {{ childrenTwo.Key }} : {{ childrenTwo.Value }}
              </p>
            </li>
          </div>
        </div>
      </ul> -->
    </div>
  </div>
  <div class="widget-footer">
    <button mat-button class="btn" style="float: right" (click)="openAddData()">
      <mat-icon>add_circle</mat-icon>
      Add Data
    </button>
    <button
      mat-button
      class="btn"
      style="float: right"
      (click)="openDialog()"
      *ngIf="viewBtn"
    >
      <mat-icon>visibility</mat-icon>
      View
    </button>
  </div>
</div>
