<div
  class="widget-div"
  [ngStyle]="{ border: highlight ? 'solid 3px #00D6A0' : 'solid 1px #ccc;' }"
  [id]="timeline.WidgetId"
>
  <div>
    <h2
      style="font-size: medium; font-weight: 200"
      [ngStyle]="{ color: highlight ? '#00D6A0' : 'black' }"
    >
      Timeline<button
        mat-icon-button
        class="delete-btn"
        matTooltip="Delete"
        (click)="deleteWidget()"
      >
        <mat-icon>clear</mat-icon>
      </button>
    </h2>
  </div>
  <div class="content-div">
    <img
      class="widget-card-icon"
      [src]="icon"
      *ngIf="childrenOne.length === 0"
    />

    <!-- <div class="timeline-content" *ngIf="childrenOne.length > 0">
      <div class="time-box w-100" *ngFor="let childrenOne of childrenOne">
          <div class="left-content text-left mr-4 timeline-item">
              <img width="100%" [src]="childrenOne.Icon" alt="icon" />
               <h4 class="mb-1 timeline-title right-content text-left"><b>{{ childrenOne.Title }}</b></h4>
          </div>
          <div class="right-content text-left">
            <div *ngFor="let childrenTwo of childrenOne.Children">
                  <p class="timeline-text">
                    {{ childrenTwo.Key }} : {{ childrenTwo.Value }}
                  </p>
              </div>
          </div>
              
      </div> -->
    <!-- <ul class="timeline">
        <div *ngFor="let childrenOne of childrenOne">
          <h3 class="timeline-title">
            <b>{{ childrenOne.Title }}</b>
          </h3>
          <div *ngFor="let childrenTwo of childrenOne.Children">
            <li class="timeline-item">
              <p class="timeline-text">
                {{ childrenTwo.Key }} : {{ childrenTwo.Value }}
              </p>
            </li>
          </div>
        </div>
      </ul> -->
    <!-- </div> -->
    <div class="timeline-card" *ngIf="childrenOne.length > 0">
      <div *ngFor="let childrenOne of childrenOne">
        <div class="header">
          <div class="left">
            <img width="100%" [src]="childrenOne.Icon" alt="icon" />
          </div>
          <div class="right">
            <h3 class="title">
              <b>{{ childrenOne.Title }}</b>
            </h3>
          </div>
        </div>
        <div class="body timeline-item">
          <mat-card class="timeline-card card card-md">
            <mat-card-content class="card-content card-content-md">
              <div
                *ngFor="let childrenTwo of childrenOne.Children"
                class="timeline-text"
              >
                <div *ngIf="childrenTwo.Key !== null">
                  <h4 class="secondary-font">
                    {{ childrenTwo.Key }}
                  </h4>
                </div>
                <div *ngIf="childrenTwo.Value !== null">
                  <h4 class="primary-font">
                    {{ childrenTwo.Value }}
                  </h4>
                </div>
                <div *ngIf="childrenTwo.Images.length > 0">
                  <div *ngFor="let images of childrenTwo.Images">
                    <img width="100%" [src]="images" alt="image" />
                  </div>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-footer">
    <button
      mat-flat-button
      fxFlex="50%"
      class="customize-btn"
      style="float: right"
      *ngIf="viewBtn"
      (click)="openDialog()"
    >
      <mat-icon class="material-symbols-outlined"> build </mat-icon>
      Customize
    </button>
    <button
      mat-flat-button
      fxFlex="50%"
      class="add-data-btn"
      style="float: right"
      (click)="openAddData()"
    >
      <mat-icon>add_circle</mat-icon>
      {{ !viewBtn ? "Add Data" : "Modify Data" }}
    </button>
  </div>
</div>
